<template>
  <div class="about">

    <div class="container">
    <h1 class="title">A World Cup in Charts</h1>

    <h2 class="subtitle">About</h2>

    <div class="spacer">

    </div>
      <div class="columns">
        <div class="column is-centered has-text-left">

          <p>Beautiful graphs of a beautiful game: Meta observations about
          the game(s) we play and the world we live in.<br>
          <br>
          Match-related event and data visualizations such as pass maps, pass network graphs,
          shot maps, touch maps, the genesis of goals and many more are
          intertwined with head-to-head environmental country
          infos such as greenhouse temperature anomalies, greenhouse gas emissions,
          ecological footprint or meat consumption.<br>
          <br>
          Beauty and fun, but not only. Not without urgency: At least if you have
          kids, I would seriously consider: They
          might prefer a livable place where they can play football outside to the money
          you stash away by destroying it!<br>
          <br>
          Expect more charts and figures - fun or serious - to come up as long as
          the game is running and world cup proceeds.<br>
          </p>

          <div class="spacer"></div>

          <h2  class="subtitle">LICENSING</h2>

          <p>For any commercial re-use or distribution of any graphics on this site:
          <a href="/#/contact">Get in  touch about licensing deals</a> <br>
          For non-commercial, educational use, feel free to use screenshot
          under <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC BY-NC-SA</a>.<br>
          (Though it would be nice if you send me a note)
          </p>

          <div class="spacer"></div>

          <h2  class="subtitle">DONATE</h2>

          <p>The data is not free, hosting is not free, in fact living anywhere is non-free<br>
          The fact that this started as a non-profit endeavor does not mean it has to stay like that.
          <br>
          I guess you hate the usual suspects of website monetization as much as I do:
          Advertisements, tracking and dealing with user data, secret gardens, and hidden crypto-currency miners:<br>
          There is no tracking or ads on this site!<br>
          <br>
          You enjoy(ed) this collection?
          Make sure it grows and stays alive and free
          from all these evil inventions by sending a
           <a href="/#/donate">DONATION.</a><br>
          <br>
          Do you want to sponsor this project? <a href="/#/contact">Get in touch.</a>
          </p>

          <div class="spacer"></div>

          <h2  class="subtitle">SOURCES</h2>

          <p>Match related data comes from <a href="https://spapi.pw/">SPAPI.pw</a>;
            There is a variety of data sources for all the other topics and charts, including
          <a href="https://www.ncdc.noaa.gov/">NOAA</a>,
          <a href="https://www.footprintnetwork.org/">Global Footprint Network</a>,
          <a href="https://www.climatewatchdata.org/">Climate Watch</a>,
          <a href="http://pik-potsdam.de/">PIK</a>,
          <a href="https://data.worldbank.org">World Bank</a>,

          <a href="https://www.theguardian.com">The Guardian</a>,
          <a href="https://www.transfermareket.com">transfermarket</a>,

          <a href="https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017/data">Kaggle</a>,
          <a href="https://cloud.google.com/bigquery/">Google BigQuery</a>,
          <a href="https://en.wikipedia.org/">Wikipedia</a>,
           and possibly more.
           </p>
           <br>
           <p>Font:  <a href="http://binnenland.ch/font/show/Relevant/Medium/">Relevant</a> by <a href="http://www.binnenland.ch">binnenland.ch</a></p>


          <div class="spacer"></div>


          <h2  class="subtitle">MORE BACKSTORY</h2>

          <p>
          There is another back story on this site : <br>
          It all started as part of an attempt
          in putting together a data viz related portfolio and grew into a
          project of its own. Of course, the portfolio is still not finished.
          But you get the idea: I am available for hire –
          just in case you have
          any _interesting_ challenges...
          </p>
          <div class="spacer"></div>

          <h2  class="subtitle">CREDITS</h2>


          <p>
          A project by <br>
          <a href="http://m.ash.to">Michael Aschauer</a> <br>
          <br>
          with <br>
          <a href="http://fooviz.xyz">fooviz - Data and Visualization</a><br>
          <a href="http://www.backface.io">BackFace Hidden Reality Lab</a><br>
          </p>

          <div class="spacer"></div>
          <h2 class="subtitle">CONTACT</h2>

          <a :href="email">{{email}}</a>

          <div class="spacer"> </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About',

  data: function() {
    return {
      email: "mailto:" + "one@sbbivm.klm".replace(/[a-zA-Z]/g,
        function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);})

    }
  },

  created() {
    console.log(this.$options._componentTag + " created");
    window.document.title = "About a World Cup in Charts";
  },

  methods: {

  }
}
</script>

<style scoped>
  div {height:100%}
  .spacer {height: 40px}
  a {text-decoration: underline}
  p { font-size: 1.0em; line-height: 1.4em}
  .column {max-width: 720px; margin:auto}
  h2 {padding-top: 30px}
  @media (max-width: 1024px) {
    .column {padding:0px 20px 0px 30px; text-align: left !important}
  }
</style>
