<template>
  <div class="about">
    <div class="container">

      <h1 class="title">A World Cup in Charts</h1>

      <h2 class="subtitle">Contact</h2>


      <div class="columns">
        <div class="column is-centered">


          <div class="spacer"> </div>

          <a :href="email">{{email}}</a>

          <div class="spacer"> </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contact',

  data: function() {
    return {
      email: "mailto:" + "one@sbbivm.klm".replace(/[a-zA-Z]/g,
    	   function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);})

    }
  },

  created() {
    console.log(this.$options._componentTag + " created");
    window.document.title = "Contact a World Cup in Charts";

  },

  methods: { }
}
</script>

<style scoped>
  div {height:100%}
  .spacer {height: 40px}
  a {text-decoration: underline !important}
  .column {max-width: 720px;margin:auto}
  h2 {padding-top: 30px}
</style>
