<template>
  <div class="about">
    <div class="container">

      <h1 class="title">A World Cup in Charts</h1>

      <h2 class="subtitle">Donate</h2>

      <div class="spacer"></div>

      <div class="columns">
        <div class="column is-centered has-text-left">

          You enjoy(ed) this collection? <br>
          Make sure it grows and stays alive and free
          from ads and tracking by sending a donation:<br>
          </p>

          <div class="spacer"></div>

          via <a href="https://paypal.me/backface">PAYPAL</a><br>
          <br>
          <span class="crypto">
          BTC 18D2vpeDZQ7cczohobUfs57dcrxNrENLer <br>
          ETH 0xcad992db99b0df6c9a558fb70cc04bc434b9b656 <br>
          GRC RyUuBE4hjtSuU3rs8AWxUaZG9Mubeb1g1w <br>
          XMR 93e7e8b99e1541acb01460312e905332c3df7b04ccdd43d39862cc93a37fcb91 <br>
          </span>

          <div class="spacer"></div>

          More questions? <a href="/#/contact">Get in touch.</a><br>

          <br>

          Do you want to sponsor this project? <a href="/#/contact">Get in touch.</a>

        </div>

      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: 'Donate',

  data: function() {
    return {
      email: "one@sbbivm.klm".replace(/[a-zA-Z]/g,
    	function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);})

    }
  },

  created() {
    console.log(this.$options._componentTag + " created");
    window.document.title = "Donate to A World Cup in Charts";

  },

  methods: {

  }
}
</script>

<style scoped>
  div {height:100%}
  .spacer {height: 40px}
  a {text-decoration: underline !important}
  p { font-size: 1.0em; line-height: 1.4em}
  .column {max-width: 720px;margin:auto}
  .crypto {font-size: 0.9em}

  h2 {padding-top: 30px}
  @media (max-width: 1024px) {
    .crypto {font-size: 0.6em}
    .column {padding:0px 20px 0px 30px;
      text-align: left !important;
    }

  }

</style>
