<template  >
<div>

  <div class="pageloader is-right-to-left" v-bind:class="{ 'is-active': !dataLoaded }">
    <span class="title">warming up...</span>
  </div>

  <div class="data" v-if="dataLoaded">

    <section id="intro" class="hero is-fullheight">
        <div class="container">
          <h1 class="title">A World Cup in Charts</h1>

          <div class="spacer"></div>

          <div class="columns is-vcentered"  v-if="dataLoaded">
            <div class="column">
              <svg width="12" height="12"><rect x="0" y="0" width="12" height="12" :fill="team_colors[0]" /></svg>
               {{home_team_name}}
            </div>
            <div class="column is-vcentered">
              <ScoreCircles  :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids"
                :score="game_data.details.score" :penalty_score="game_data.details.penalty_score" />
            </div>
            <div class="column is-vcentered">
              {{away_team_name}}
              <svg width="12" height="12"><rect x="0" y="0" width="12" height="12" :fill="team_colors[1]" /></svg>
            </div>
          </div>
          <div class="spacer"></div>
          <Histo :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids" />
          <PossessionHist :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids" />
          <div class="spacer"></div>
          <div class="">
              <ShareTwitter  :text="title" hash="#intro" v-if="dataLoaded"/>
              <md-button class="md-icon-button" v-scroll-to="'#historical'" >
                <md-icon id="next" style="color:lightgrey">more_vert</md-icon>
              </md-button>
                <ShareFacebook :text="title" hash="#intro" v-if="dataLoaded"/>
                <br>
                <md-button class="md-icon-button" v-scroll-to="'#historical'" >
                  <md-icon id="next">expand_more</md-icon>
                </md-button>
          </div>

      </div>


    </section>

    <div class="spacer"></div>
    <div class="spacer"></div>


    <section id="historical" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Historical Results</h2>
          <HistoricalResults :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids" />
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#marketvalues'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="marketvalues" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Market Value</h2>
          <div class="columns"  v-if="dataLoaded">
            <div class="column">
              <MarketValue :gamedata="game_data" :country="home_code"
                :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[0]"
                :gdp_cap="home_gdp_cap" />
            </div>
            <div class="column">
              <MarketValue :gamedata="game_data" :country="away_code"
                :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[1]" :flip="true"
                :gdp_cap="away_gdp_cap" />
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#passnetwork'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="passnetwork" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Pass network graph</h2>
          <PassGraph :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids" />
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#TemperatureSeries'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="TemperatureSeries" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Average Temperature in June</h2>
          <div class="columns"  v-if="dataLoaded">
            <div class="column no-padding">
              <TempSeries :gamedata="game_data" :country="home_code" :color="team_colors[0]"
                :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[0]" />
            </div>
            <div class="column no-padding">
              <TempSeries :gamedata="game_data" :country="away_code" :color="team_colors[1]" :flip="true"
              :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[1]" />
            </div>
          </div>
          <div class="source">
            data source: <a href="https://www.ncdc.noaa.gov/ghcnm/v3.php">NOAA GHCN-M</a>
          </div>
        </div>
        <br/>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#passmaps'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="passmaps" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Pass maps</h2>
          <div class="columns"  v-if="dataLoaded">
            <div class="column">
              <PassMap :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids"
                :team_id="team_ids[0]" />
            </div>
            <div class="column">
              <PassMap :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids"
              :team_id="team_ids[1]" flip=1 />
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#TemperatureAnomalies'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="TemperatureAnomalies" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Temperature Anomalies</h2>
          <div class="columns"  v-if="dataLoaded">
            <div class="column no-padding">
              <TempAnomalies :gamedata="game_data" :country="home_code" :color="team_colors[0]" :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[0]"/>
            </div>
            <div class="column no-padding">
              <TempAnomalies :gamedata="game_data" :country="away_code" :color="team_colors[1]" :flip="true"
              :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[1]" />
            </div>
          </div>
          <div class="source">
            Average temperature in June compared to the base period 1951-1980 <br />
            data source: <a href="https://www.ncdc.noaa.gov/ghcnm/v3.php">NOAA GHCN-M</a>
          </div>
        </div>
        <br/>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#touchmaps'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="touchmaps" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Touch maps</h2>
          <div class="columns"  v-if="dataLoaded">
            <div class="column">
              <TouchMap :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[0]"/>
            </div>
            <div class="column">
              <TouchMap :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[1]" flip=1 />
            </div>
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#field_dominance'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="field_dominance" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">FIELD DOMINACE</h2>
          <TouchBinMap :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids" />
          <div class="source">
            Based on successfull touches/passes.
          </div>
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#footprint'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>

    <section id="footprint" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Ecological FootPrint</h2>
          <div class="columns"  v-if="dataLoaded">
            <div class="column no-padding">
              <FootPrintChart :gamedata="game_data" :country="home_code" :color="team_colors[0]" :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[0]" />
            </div>
            <div class="column no-padding">
              <FootPrintChart :gamedata="game_data" :country="away_code" :color="team_colors[1]" :flip="true"
              :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[1]" />
            </div>
          </div>
          <div class="source">
            source: <a href="https://www.footprintnetwork.org/">Global Footprint Network</a>
          </div>
        </div>
        <br/>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#shotmap'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="shotmap" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Shot map</h2>
          <ShotMap :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids" />
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#GHGEmissions'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="GHGEmissions" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Greenhouse Gas Emissions</h2>
          <div class="columns" v-if="dataLoaded">
            <div class="column no-padding">
              <GHGEmissions :gamedata="game_data" :country="home_code" :color="team_colors[0]"
              :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[0]" :max="ghg_max"
              :pop="home_pop" />
            </div>
            <div class="column no-padding">
              <GHGEmissions :gamedata="game_data" :country="away_code" :color="team_colors[1]" :flip="true"
              :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[1]" :max="ghg_max"
                :pop="away_pop" />
            </div>
          </div>
          <div class="source">
            Total greenhouse gas emissios in gigatons per year.<br>
            source: <a href="https://www.climatewatchdata.org/">Climate Watch</a> / <a href="http://pik-potsdam.de/">PIK</a>
          </div>
        </div>
        <br/>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#goals'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="goals" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">The Genesis of Goals</h2>
          <p>The minute before scoring</p><br>
          <div class="columns"  v-if="dataLoaded">
            <div class="column">
              <div class="" v-for="item in home_goal_seq">
                {{item + 1}}
                <GoalHist :goal="item + 1" :gamedata="game_data"
                  :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[0]" />
              </div>
            </div>
            <div class="column">
              <div class="" v-for="item in away_goal_seq">
                {{item + 1}}
                <GoalHist :goal="item + 1"  :gamedata="game_data"
                :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[1]" flip=1 />
              </div>
            </div>
          </div>
          <div class="spacer"></div>
          <div class="spacer"></div>
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#MeatConsumption'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="MeatConsumption" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Meat Consumption</h2>
          <div class="columns" v-if="dataLoaded">
            <div class="column no-padding">
              <MeatConsumption :gamedata="game_data" :country="home_code"
                :color="team_colors[0]" :team_colors="team_colors"
                 :team_ids="team_ids" :team_id="team_ids[0]" />
            </div>
            <div class="column no-padding">
              <MeatConsumption :gamedata="game_data"  :country="away_code" :color="team_colors[1]" :flip="true"
              :team_colors="team_colors" :team_ids="team_ids" :team_id="team_ids[1]" />
            </div>
          </div>
          <div class="source">
            Total meat consumption in Kilograms per person and year.<br />
            source: <a href="https://www.theguardian.com/environment/datablog/2009/sep/02/meat-consumption-per-capita-climate-change">The Guardian</a> &amp;
            <a href="https://en.wikipedia.org/wiki/List_of_countries_by_meat_consumption">Wikipedia</a>
          </div>
        </div>
        <br/>

      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#replay'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="replay" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Replay</h2>
          <div class="replay"><Replay :gamedata="game_data" :team_colors="team_colors" :team_ids="team_ids" /></div>
        </div>
      </div>
      <div class="hero-foot">
        <div class="">
          <md-button class="md-icon-button" v-scroll-to="{ el: 'body', }" >
            <md-icon id="top">expand_less</md-icon>
          </md-button>
        </div>
        <div class="footer"> © 2018 <a href="http://www.fooviz.xyz">fooviz.xyz</a> |
          <router-link to="/about">About</router-link>
        </div>
      </div>
    </section>
  </div>


</div>
</template>

<script>
import PassGraph from '../components/PassGraph.vue'
import PossessionHist from '../components/PossessionHist'
import PassMap from '../components/PassMap.vue'
import TouchMap from '../components/TouchMap.vue'
import EventMap from '../components/EventMap.vue'
import ShotMap from '../components/ShotMap.vue'

import TouchBinMap from '../components/TouchBinMap.vue'


import Histo from '../components/Histo.vue'
import Replay from '../components/Replay.vue'
import GoalHist from '../components/Goals.vue'
import MarketValue from '../components/MarketValue.vue'

import ScoreCircles from '../components/ScoreCircles.vue'

import FootPrintChart from '../components/FootPrintChart.vue'
import GHGEmissions from '../components/GHGEmissions.vue'
import TempAnomalies from '../components/TempAnomalies.vue'
import TempSeries from '../components/TempSeries.vue'
import HistoricalResults from '../components/HistoricalResults.vue'
import MeatConsumption from '../components/MeatConsumption.vue'

import ShareTwitter from '../components/ShareTwitter.vue'
import ShareFacebook from '../components/ShareFacebook.vue'


import * as d3 from 'd3'
import * as lzstring from 'lz-string'
const lzString = require('lz-string');
//const jnd = require('d3-jnd');
const colorDiff = require('d3-color-difference');


//const d3 = *("d3")

export default {
  name: 'GameView',

  components: {
    PassGraph, PassMap, ShotMap, EventMap, Histo, TouchMap,
    PossessionHist, Replay, ScoreCircles, HistoricalResults,
    GoalHist, MarketValue,

    TouchBinMap,

    FootPrintChart, GHGEmissions, TempAnomalies, TempSeries,
    MeatConsumption,

    ShareTwitter, ShareFacebook
  },

  props: ['id'],

  data: function() {
    return {
      height:0,
      width:0,
      dataLoaded:false,
      game_data: {},
      game_actions: {},
      game_details: {},
      game_players: {},
      game_stats: {},
      team_ids: [],
      //team_colors: ["#ffb14e", "blue"]
      //team_colors: ["#5799b7", "#c74744"],
      //team_colors: ["#5799b7","#ffb14e"],
      team_colors: ["#b0b0b0","#ff3333"],
      team_colors: ["#f13333","#168d40",],

      home_code: "",
      away_code: "",
      home_pop: 0,
      away_pop: 0,
      home_team_name: " ",
      away_team_name: " ",
      home_gdp_cap: 0,
      away_gdp_cap: 0,
      home_id:0,
      away_id:0,
      title: "",
      ghg_max:0,
    }
  },

  created() {
    console.log(this.$options._componentTag + " created")
    this.load_data();
    this.$on('data_loaded', function () {
      console.log("data_loaded");
      if (window.location.hash.split("#").length -1 < 2) {
        window.scrollTo(0, 0);
        console.log("scroll");
      }
      this.dataLoaded=true;
    });
  },

  methods: {
    scrollFix: function(hash) {
      setTimeout(() => this.scrollTo(this.$route.hash), 500)
    },

    load_data() {
      var self = this;

      d3.csv("data/countries.csv").then( function (countrydata) {
        self.countrydata = countrydata;

        self.$http.get("data/f/" + self.id).then(function(r) {
          var d = JSON.parse(lzString.decompressFromEncodedURIComponent(r.data));
          self.game_data = d;
          self.gameactions = d.actions;
          self.game_details = d.details;
          self.game_stats = d.statistics;
          self.types = [];

          console.log(d.actions.filter(d=> d.period.name == "PenaltyShootout"));

          d.actions.forEach( function(d) {
            if (self.types.indexOf(d.type.name) == -1)
              self.types.push(d.type.name);
            d.time = +d.expanded_minute + (+d.second / 60);


          })

          self.team_ids = [self.game_details.home.guid, self.game_details.away.guid];

          self.home_team_name = d.quick_info.home.name //self.game_details.home.name;
          self.away_team_name = d.quick_info.away.name // self.game_details.away.name;
          self.home_code = d.quick_info.home.abbreviation_name //self.game_details.home.name;
          self.away_code = d.quick_info.away.abbreviation_name // self.game_details.away.name;
          self.home_id = d.quick_info.home.guid
          self.away_id = d.quick_info.away.guid

          self.penalty_score = self.game_data.details.penalty_score;
          self.game_data.details.score = self.game_data.details.score.replace("*","");
          self.home_goal_seq = [...Array(+self.game_data.details.score.split(":")[0]).keys()];
          self.away_goal_seq = [...Array(+self.game_data.details.score.split(":")[1]).keys()];

          // DELETE ME
          //self.home_goal_seq = [...Array(3).keys()];
          //self.away_goal_seq = [...Array(1).keys()];
          //self.home_code = "RUS"
          //self.away_code = "KSA"

          self.home_color = self.countrydata.filter(d=>d.fifa_code==self.home_code)[0].color1;
          self.away_color = self.countrydata.filter(d=>d.fifa_code==self.away_code)[0].color2;
          self.home_gdp_cap = +self.countrydata.filter(d=>d.fifa_code==self.home_code)[0].gdp_cap;
          self.away_gdp_cap = +self.countrydata.filter(d=>d.fifa_code==self.away_code)[0].gdp_cap;
          self.home_pop = +self.countrydata.filter(d=>d.fifa_code==self.home_code)[0].pop;
          self.away_pop = +self.countrydata.filter(d=>d.fifa_code==self.away_code)[0].pop;
          self.ghg_max = Math.max(
            +self.countrydata.filter(d=>d.fifa_code==self.home_code)[0].ghg_total,
            +self.countrydata.filter(d=>d.fifa_code==self.away_code)[0].ghg_total
          )

          if (colorDiff.differenceCie76(self.home_color, self.away_color) < 80.0) {
            self.away_color = self.countrydata.filter(d=>d.fifa_code==self.away_code)[0].color1;
          }

          /*

          if (self.home_color == "#ffffff")
            self.home_color = "#bbbbbb"
          if (self.away_color == "#ffffff")
            self.away_color = "#bbbbbyb"
          */


            if (self.home_color == "#ffffff") {
              if (colorDiff.differenceCie76(self.countrydata.filter(c=>c.fifa_code==self.home_code)[0].color2, self.away_color) > 60.0
                && self.countrydata.filter(c=>c.fifa_code==self.home_code)[0].color2 != "#ffffff") {
                self.home_color = self.countrydata.filter(c=>c.fifa_code==self.home_code)[0].color2;
              } else {
                self.home_color ="#aaaaaa";
              }
            }


            if (colorDiff.differenceCie76(self.home_color, self.away_color) < 90.0 &&
              colorDiff.differenceCie76(self.home_color, self.countrydata.filter(d=>d.fifa_code==self.away_code)[0].color1) > 60
            ) {
              self.away_color = self.countrydata.filter(d=>d.fifa_code==self.away_code)[0].color1;
            }

            if (self.away_color == "#ffffff") {
              if (colorDiff.differenceCie76(self.home_color, self.countrydata.filter(c=>c.fifa_code==self.away_code)[0].color2) > 60.0
                && self.countrydata.filter(c=>c.fifa_code==self.away_code)[0].color2 != "#ffffff") {
                self.away_color = self.countrydata.filter(c=>c.fifa_code==self.away_code)[0].color2;
              } else if (colorDiff.differenceCie76(self.home_color, self.countrydata.filter(c=>c.fifa_code==self.away_code)[0].color1) > 60.0
                && self.countrydata.filter(c=>c.fifa_code==self.away_code)[0].color1 != "#ffffff") {
                self.away_color = self.countrydata.filter(c=>c.fifa_code==self.away_code)[0].color1;
              } else if (colorDiff.differenceCie76(self.countrydata.filter(c=>c.fifa_code==self.home_code)[0].color2, d.away_color) > 60.0
                && self.countrydata.filter(c=>c.fifa_code==self.home_code)[0].color2 != "#ffffff") {
                self.home_color = self.countrydata.filter(c=>c.fifa_code==self.home_code)[0].color2;
              } else {
                self.away_color = "#aaaaaa"
              }
            }


          self.team_colors = [self.home_color, self.away_color]

          window.document.title =   self.home_team_name + " - " +  self.away_team_name + " | " + " A World Cup in Charts";
          self.title = window.document.title;


          self.$emit('data_loaded',true);
        })
      }).catch(function (err) {
        console.error(err);
        this.$router.push('/error')
      });

    }
  }

}
</script>

<style>
div {  text-align: center;}
h1.title {font-weight: normal;}
h2 {text-transform:uppercase;}
.subsubtitle { font-size:0.8em; color:#a0a0a0}
.spacer{height:50px}
.pageloader {background:#666;}

.footer {padding:5px !important; font-size: 0.8em; background:#f0f0f0;width:100%;margin:0}
.footer a {color:#666; margin: 0 5px; text-transform: uppercase;}
.replay { width:80%;margin:auto }
.source { font-size: 0.8em; color:#999}
.source a { color:#666 !important }
.no-padding {padding-left:0 !important}
.no-padding {padding-right:0 !important}

.hero-foot .share {margin-top: -24px}

#intro {height: 100%}

.tip, .tooltip {
  background:rgba(255,255,255,.9);
  padding:4px 8px;
  border: 1px solid lightgrey ;
  box-shadow: 5px 5px 5px #888888;
  z-index:10;
    border-radius: 2px;
    margin:-8px 0 0 0;
}
  /* Creates a small triangle extender for the tooltip */
.tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.tooltip {
  position:absolute;
  visibility:hidden;
}

/* Style northward tooltips differently */
.tip.n:after {
  margin: -0px 0 0 0;
  top: 100%;
  left: 0;
}
  @media (max-width: 1024px) {
    .replay {width:100%}
    .column {padding-top:30px}
  }

</style>
