<template>
  <div class="list">
    <h1 class="title">A World Cup in Charts</h1>

    <div class="spacer"></div>

<div class="search">
  <md-field>
    <label>Search Team</label>
    <md-input v-model="search" @keyup="updateSearch"></md-input>
  </md-field>
</div>

<div class="spacer"></div>

    <div class="game_item" v-for="item in items">

      <div class="date"> {{item.formatedDate}} <br> {{item.formatedTime}} </div>

      <div class="columns is-centered match is-vcentered">
        <div class="column is-desktop has-text-right fullname is-vcentered">
          {{item.home_team.name}}
        </div>
        <div class="column is-mobile has-text-right is-narrow is-vcentered">
            <a :href="item.link">{{item.home_team.abbreviation_name}}</a>
        </div>
        <div class="column is-mobile is-narrow is-vcentered">
           <a :href="item.link"><ScoreCircles :team_colors="item.team_colors" :score="item.score" :penalty_score="item.pen_score" :key="item.guid"/></a>
        </div>
        <div class="column is-mobile has-text-left is-narrow is-vcentered">
            <a :href="item.link">{{item.away_team.abbreviation_name}}</a>
        </div>
        <div class="column is-desktop has-text-left fullname">
          {{item.away_team.name}}
        </div>
      </div>

    </div>
  </div>
</template>


<script>
import ScoreCircles from '../components/ScoreCircles.vue'
import * as d3 from 'd3';
const lzString = require('lz-string');
const colorDiff = require('d3-color-difference');
//const jnd = require('d3-jnd');


export default {
  name: 'ListView',

  components: {
    ScoreCircles
  },

  data: function() {
    return {
      dataLoaded:false,
      items: {},
      allitems: {},
      team_colors: ["black", "black"],
      score:"0:0",
      search: ""
    }
  },

  created() {
    console.log(this.$options._componentTag + " created");
    this.load_data();
    this.$on('data_loaded', function () {
      console.log("data_loaded");
    });
    window.document.title = "A World Cup in Charts - All Matches";

  },

  methods: {
    updateSearch() {
      var self = this;
      self.items = self.allitems.filter( d=>
        d.home_team.abbreviation_name.toLowerCase().search(self.search.toLowerCase()) > -1
        || d.away_team.abbreviation_name.toLowerCase().search(self.search.toLowerCase()) > -1
        || d.home_team.name.toLowerCase().search(self.search.toLowerCase()) > -1
        || d.away_team.name.toLowerCase().search(self.search.toLowerCase()) > -1
      )
    },

    load_data() {
      var self = this;
      var parseTime = d3.timeParse("%Y-%m-%d %H:%M:%S UTC");
      var formatTime = d3.timeFormat("%H:%Mh UTC");
      var formatDate = d3.timeFormat("%Y-%m-%d");
      d3.csv("data/countries.csv").then( function (countrydata) {
        self.countrydata = countrydata;

        //self.$http.get("data/matches.json").then(function(r) {
        self.$http.get("data/f/007").then(function(response) {
          var  r = JSON.parse(lzString.decompressFromEncodedURIComponent(response.data));
          self.items = r.items;
          self.allitems = self.items;
          self.items.forEach( function(d) {
              var replacements = [
              	["MOR","MAR",],
              	["SAU","KSA",],
              	["SPA","ESP",],
                ["ICE","ISL",],
                ["NIG","NGA",],
                ["COS","CRC",],
                ["SER","SRB",],
                ["SWI","SUI",],
                ["SOU","KOR",],
                ["JAP","JPN",],
              ]
              replacements.forEach(function (r) {
          			if (d.home_team.abbreviation_name == r[0])
          				d.home_team.abbreviation_name = r[1]
          			if (d.away_team.abbreviation_name == r[0])
          				d.away_team.abbreviation_name = r[1]
          		})
              d.formatedTime = formatTime(parseTime(d.datetime_of_play))
              d.formatedDate = formatDate(parseTime(d.datetime_of_play))
              d.home_color = self.countrydata.filter(c=>c.fifa_code==d.home_team.abbreviation_name)[0].color1;
              d.away_color = self.countrydata.filter(c=>c.fifa_code==d.away_team.abbreviation_name)[0].color2;

              //if (!jnd.noticeablyDifferent(d.home_color,d.away_color))
              //console.log(colorDiff.differenceCie76(d.home_color,d.away_color), d.home_team.name);
              if (colorDiff.differenceCie76(d.home_color,d.away_color) < 60.0) {
                d.away_color = self.countrydata.filter(c=>c.fifa_code==d.away_team.abbreviation_name)[0].color1;
              }

              if (d.home_color == "#ffffff") {
                if (colorDiff.differenceCie76(self.countrydata.filter(c=>c.fifa_code==d.home_team.abbreviation_name)[0].color2, d.away_color) > 60.0
                  && self.countrydata.filter(c=>c.fifa_code==d.home_team.abbreviation_name)[0].color2 != "#ffffff") {
                  d.home_color = self.countrydata.filter(c=>c.fifa_code==d.home_team.abbreviation_name)[0].color2;
                } else {
                  d.home_color ="#aaaaaa";
                }
              }

              if (colorDiff.differenceCie76(d.home_color, d.away_color) < 90.0
                && colorDiff.differenceCie76(self.home_color, self.countrydata.filter(c=>c.fifa_code==d.away_team.abbreviation_name)[0].color1) > 60
              ) {
                d.away_color = self.countrydata.filter(c=>c.fifa_code==d.away_team.abbreviation_name)[0].color1;
              }

              if (d.away_color == "#ffffff") {
                if (colorDiff.differenceCie76(d.home_color, self.countrydata.filter(c=>c.fifa_code==d.away_team.abbreviation_name)[0].color2) > 60.0
                  && self.countrydata.filter(c=>c.fifa_code==d.away_team.abbreviation_name)[0].color2 != "#ffffff") {
                  d.away_color = self.countrydata.filter(c=>c.fifa_code==d.away_team.abbreviation_name)[0].color2;
                } else if (colorDiff.differenceCie76(d.home_color, self.countrydata.filter(c=>c.fifa_code==d.away_team.abbreviation_name)[0].color1) > 60.0
                  && self.countrydata.filter(c=>c.fifa_code==d.away_team.abbreviation_name)[0].color1 != "#ffffff") {
                  d.away_color = self.countrydata.filter(c=>c.fifa_code==d.away_team.abbreviation_name)[0].color1;
                } else if (colorDiff.differenceCie76(self.countrydata.filter(c=>c.fifa_code==d.home_team.abbreviation_name)[0].color2, d.away_code) > 60.0
                  && self.countrydata.filter(c=>c.fifa_code==d.home_team.abbreviation_name)[0].color2 != "#ffffff") {
                  d.home_color = self.countrydata.filter(c=>c.fifa_code==d.home_team.abbreviation_name)[0].color2;
                } else {
                  d.away_color = "#aaaaaa"
                }
              }

              d.team_colors = [d.home_color,d.away_color]

              d.link = "#/gameview/" + d.home_team.abbreviation_name + "-" + d.away_team.abbreviation_name;
              d.score = d.scores_and_stats.scores.home + ":" + d.scores_and_stats.scores.away;

              if (d.scores_and_stats.extra.pen != 0) {
                d.pen_score = "" + d.scores_and_stats.extra.pen;
                
              } else if (d.scores_and_stats.extra.final.replace("*","").replace(" ","").replace(" ","") != d.score)
                  d.pen_score =   d.scores_and_stats.extra.final.replace("*","").replace(" ","").replace(" ","");
            })
        })
      }).catch(function (err) {
          console.error(err);
      });
    }
  }
}

</script>

<style>
  .game_item { text-transform: uppercase; margin-bottom: 40px}
  .date, .fullname {font-size:0.9em; color:#999999; text-transform: none;}
  .data {margin-bottom: 10px}
  .time { font-size:0.9em}
  .status {font-size: 10px}
  .match {font-size: 1.4em}
  .search { width: 200px; margin: auto}
  @media (max-width: 1024px) {
    .has-text-right, .has-text-left { text-align: center !important}
    .is-desktop {display:none}
    .game_item { margin-bottom: 40px}
   }
</style>
