<template  >
<div>

  <div class="pageloader is-right-to-left" v-bind:class="{ 'is-active': !dataLoaded }">
    <span class="title">warming up...</span>
  </div>

  <div class="data" v-if="dataLoaded">

    <section id="intro" class="hero">
        <div class="container">
          <h1 class="title">A World Cup in Charts</h1>
          <div class="spacer"></div>
      </div>
    </section>


    <section id="allshotsmap" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">All Shots, All Goals</h2>
          <AllShotsMap :shotdata="shotdata"/>
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#allshotstarget'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>

    <section id="allshotstarget" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">All Unblocked Shots</h2>
          <AllShotsTarget :shotdata="shotdata"/>
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#allshotsontarget'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>

    <section id="allshotsontarget" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">All Shots on Target</h2>
          <AllShotsOnTarget :shotdata="shotdata"/>
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#allpenalties'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>


    <section id="allpenalties" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">All Penalties</h2>
          <AllShotsOnTarget :shotdata="penalties" :showPenalties="true"/>
        </div>
      </div>
      <div class="hero-foot">
        <md-button class="md-icon-button" v-scroll-to="'#taxfraudsters'" >
          <md-icon id="next">expand_more</md-icon>
        </md-button>
      </div>
    </section>

    <section id="taxfraudsters" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h2 class="subtitle">Famous Criminals: Tax Fraudsters</h2>
          <FraudBars />
        </div>
      </div>
      <div class="hero-foot">

        <div class="">
          <md-button class="md-icon-button" v-scroll-to="{ el: 'body', }" >
            <md-icon id="top">expand_less</md-icon>
          </md-button>
        </div>
        <div class="footer"> © 2018 <a href="http://www.fooviz.xyz">fooviz.xyz</a> |
          <router-link to="/about">About</router-link>
        </div>
      </div>
    </section>



</div>

</div>
</template>

<script>

import AllShotsMap from '../components/AllShotsMap.vue'
import AllShotsOnTarget from '../components/AllShotsOnTarget.vue'
import AllShotsTarget from '../components/AllShotsTarget.vue'
import FraudBars from '../components/FraudBars.vue'
import ShareTwitter from '../components/ShareTwitter.vue'
import ShareFacebook from '../components/ShareFacebook.vue'


import * as d3 from 'd3'
import * as lzstring from 'lz-string'
const lzString = require('lz-string');
//const jnd = require('d3-jnd');
const colorDiff = require('d3-color-difference');

//const d3 = *("d3")

export default {
  name: 'TournamentStats',

  components: {
    AllShotsMap, AllShotsOnTarget, AllShotsTarget,
    FraudBars,
    ShareTwitter, ShareFacebook
  },

  props: ['id'],

  data: function() {
    return {
      height:0,
      width:0,
      dataLoaded:false,
      shotdata: {},
      penalties: {},
      away_id:0,
      title: "",
    }
  },

  created() {
    console.log(this.$options._componentTag + " created")
    this.load_data();
    this.$on('data_loaded', function () {
      console.log("data_loaded");
      if (window.location.hash.split("#").length -1 < 2) {
        window.scrollTo(0, 0);
      }
      this.dataLoaded=true;
    });
  },

  methods: {
    scrollFix: function(hash) {
      setTimeout(() => this.scrollTo(this.$route.hash), 500)
    },

    load_data() {
      var self = this;

      self.$http.get("data/f/all_shots.7").then(function(r) {
        var d = JSON.parse(lzString.decompressFromEncodedURIComponent(r.data));
        self.shotdata = d;
        self.shotdata.forEach( function(d) {
          d.time = +d.expanded_minute + (+d.second / 60);
        })

        self.penalties = self.shotdata.filter(d => d.qualifiers.find( function(d) { return d.type == "Penalty" }))


        window.document.title =   "Tournament Stats |  A World Cup in Charts";
        self.title = window.document.title;

        self.$emit('data_loaded',true);
      }).catch(function (err) {
        console.error(err);
        this.$router.push('/error')
      });

    }
  }

}
</script>

<style>
div {  text-align: center;}
h1.title {font-weight: normal;}
h2 {text-transform:uppercase;}
.subsubtitle { font-size:0.8em; color:#a0a0a0}
.spacer{height:50px}
.pageloader {background:#666;}

.footer {padding:5px !important; font-size: 0.8em; background:#f0f0f0;width:100%;margin:0}
.footer a {color:#666; margin: 0 5px; text-transform: uppercase;}
.replay { width:80%;margin:auto }
.source { font-size: 0.8em; color:#999}
.source a { color:#666 !important }
.no-padding {padding-left:0 !important}
.no-padding {padding-right:0 !important}

.hero-foot .share {margin-top: -24px}

#intro {height: 100%}

.tip, .tooltip {
  background:rgba(255,255,255,.9);
  padding:4px 8px;
  border: 1px solid lightgrey ;
  box-shadow: 5px 5px 5px #888888;
  z-index:10;
    border-radius: 2px;
    margin:-8px 0 0 0;
}
  /* Creates a small triangle extender for the tooltip */
.tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.tooltip {
  position:absolute;
  visibility:hidden;
}

/* Style northward tooltips differently */
.tip.n:after {
  margin: -0px 0 0 0;
  top: 100%;
  left: 0;
}
  @media (max-width: 1024px) {
    .replay {width:100%}
    .column {padding-top:30px}
  }

</style>
