<template>
  <div>
    <div class="select is-light">
      <select id="outcome_options" @change="updateSelection" v-model="outcome_selection">
      <option v-for="(value, index) in outcome_options" :value="value" v-text="value"></option>
      </select>
    </div>
    <div class="chart"> </div>
    <div class="sum_up">
      TOTAL SHOTS: {{ nr_shots}} <br>
      BLOCKED: {{nr_blocked}} <br>
      GOALS: {{ nr_goals}} <br>
      ({{ sum_up_percentage  }} % SUCCESSFUL)<br>
      <br>
      GOALS THROUGH PENALTIES (Regular Play Time): <br>
       {{ nr_penality_goals}} of {{ nr_penalties }}<br>
      ({{ sum_up_percentage_penalties  }} % SUCCESSFUL)<br>
      <br>
      OWN GOALS: {{ nr_own_goals}} <br>

    </div>
  </div>
  </div>
</template>

<script>
import * as d3 from 'd3';
import drawfield from '../drawing_helpers'

export default {
  name: 'AllShotsMap',

  props: {
    shotdata: Array,
  },

  data: function() {
    return {
      h:0,
      w:0,
      _display_data:[],
      colors: ["blue","red"],
      outcome_selection: "All Shots",
      outcome_options: ["All Shots","Successful","Unsuccessful"],
      nr_goals: 0,
      nr_shots: 0,
      nr_penalties: 0,
      nr_penality_goals: 0,
      nr_own_goals: 0,
      sum_up_percentage: 0,
      sum_up_percentage_penalties:0,
      nr_blocked:0,
    }
  },

  mounted() {
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.offsetWidth;
    this.h = this.$el.offsetWidth * 68/105;
    window.addEventListener('resize', this.onResize);
    this.wrangle_data();
    this.init_chart();
    this.update_chart();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      this.w = this.$el.clientWidth;
      this.h = this.$el.clientWidth * 68/105;
      this.svg.remove();
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },

    wrangle_data() {
				var self = this;


        self.penalties = self.shotdata.filter(d => d.qualifiers.find( function(d) { return d.type == "Penalty" }))
        self.penalties = self.penalties.filter(d=>d.period.name != "PenaltyShootout");
        self.nr_penalties = self.penalties.length
        self.nr_penality_goals =  self.penalties.filter(d => d.type.name === "Goal").length
        self.sum_up_percentage_penalties = d3.format("0.0f")(self.nr_penality_goals / self.nr_penalties * 100)

        self._display_data = self.shotdata;

        self._display_data.forEach( function(d) {
            d.qualifiers.forEach( function(x) {
              d[x.type] = x.value;
            });
            d.GoalMouthY = +d.GoalMouthY;
            d.GoalMouthZ = +d.GoalMouthZ;
            d.BlockedX = +d.BlockedX;
            d.BlockedY = +d.BlockedY;
            d.Blocked = isNaN(d.GoalMouthY);
        });

        self._display_data = self._display_data.filter(d => !d.hasOwnProperty("Penalty"))

        self.nr_goals = self._display_data.filter(d => d.type.name === "Goal" && !d.hasOwnProperty("OwnGoal")).length;
        self.nr_own_goals = self._display_data.filter(d => d.hasOwnProperty("OwnGoal")).length;
        self.nr_shots = self._display_data.filter(d => !d.hasOwnProperty("OwnGoal")).length;
        self.sum_up_percentage = d3.format("0.0f")(self.nr_goals / self.nr_shots * 100)
        self.nr_blocked = self._display_data.filter(d => d.Blocked).length;


        if (self.outcome_selection != "All Shots") {
          if (self.outcome_selection == "Successful") {
            self._display_data = self._display_data.filter(d => d.type.name === "Goal")
          } else {
            self._display_data = self._display_data.filter(d => d.type.name != "Goal")
          }
        }

        self._display_data = self._display_data.sort(function(a, b) { return (b.type.name == "Goal") < (a.type.name == "Goal") })

      },

			updateSelection() {
				this.wrangle_data();
				this.update_chart();
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 20, right: 20, bottom: 40, left: 20};
        self.svg = d3.select(this.$el).select(".chart")
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(1000); }

				self.x = d3.scaleLinear().range([0, self.width]);
				self.y = d3.scaleLinear().range([0, self.height]);
				self.c = d3.scaleOrdinal(d3.schemePaired);
				self.team_color = d3.scaleOrdinal(self.team_colors);
				self.binary = d3.scaleOrdinal().range([-1,1]);

				self.x.domain([0, 100]);
				self.y.domain([0, 100]);

				self.defs.selectAll("marker")
					.data(self.colors)
					.enter()
					.append("marker")
					.attr("id", d => "pmarrow_" + d)
					.attr("refX", 4) /*must be smarter way to calculate shift*/
					.attr("refY", 2)
					.attr("markerWidth", 4)
					.attr("markerHeight", 4)
					.attr("orient", "auto")
					.append("path")
					.attr("d", "M 0,0 V 4 L4,2 Z")
					.attr("fill", d => d);


			  self.legend = self.g.append("g")
				    .attr("class","field")

        drawfield(self.legend, self.width, self.height)

        self.legend
          .append("circle")
          .attr("cx", self.width / 2 - 45  )
          .attr("cy", self.height + 12 )
          .attr("fill","blue")
          .attr("r", 4)

        self.legend
          .append("text")
          .attr("x", self.width / 2 - 35 )
          .attr("y", self.height + 15)
          .attr("text-anchor","right")
          .text("Shots")

        self.legend
          .append("circle")
          .attr("cx", self.width / 2 + 20  )
          .attr("cy", self.height + 12 )
          .attr("fill","red")
          .attr("r", 4)

        self.legend
          .append("text")
          .attr("x", self.width / 2 + 30 )
          .attr("y", self.height + 15)
          .text("Goals")

        self.copy = self.g.append("g")
          .attr("class","copyright")
          .append("text")
          .attr("x", 10)
          .attr("y", self.height + 12)
          .attr("fill","lightgrey")
          .attr("text-anchor",  "start")
          .attr("style","font-size:0.7em")
          .text("© 2018, fooviz.xyz")

			},

			update_chart() {
				var self = this;

        self.g.selectAll(".shots").remove();

				self.shots = self.g
					.append("g")
					.attr("class", "passes")
					.selectAll("line")
					.data(self._display_data)

				self.shots
					.enter()
					.append("line")
					.attr("class", "shots")
					.attr("x1", function(d, i){ return self.x(d.start_x)  })
					.attr("x2", function(d, i){ return !d.hasOwnProperty("OwnGoal") ? self.x(d.BlockedX) || self.width : 0  })
					.attr("y1", function(d, i){ return self.y(d.start_y) })
					.attr("y2", function(d, i){ return self.y(d.GoalMouthY || d.BlockedY)  })
					.attr("stroke", function(d) { return d.type.name == "Goal" ? "red" : "blue" })
					.attr("style",  function(d) { return d.type.name == "Goal" ? "opacity:0.3" : "opacity:0.1" })
					.attr("fill",  function(d) { return d.type.name == "Goal" ? "red" : "blue" })
					.attr("stroke-width", "1.5")
					.attr("marker-end", "url(#pmarrow_1)"	)

				self.touches = self.g
					.selectAll("circle")
					.data(self._display_data)

				self.touches
					.enter()
					.append("circle")
					.attr("class", "shots")
          .attr("cx", function(d){ return self.x(d.start_x) })
					.attr("cy", function(d){ return self.y(d.start_y) })
					.attr("r", 4)
          .attr("stroke", function(d) { return d.type.name == "Goal" ? "red" : "blue" })
					.attr("style",  function(d) { return d.type.name == "Goal" ? "opacity:0.7" : "opacity:0.3" })
					.attr("fill",  function(d) { return d.type.name == "Goal" ? "red" : "blue" })

			}
		}
	}

</script>

<style scoped>
    .select { font-size: 0.9em }
    .sum_up { font-size: 0.8em; color:#999}
      @media (max-width: 1024px) { .shotmap {width:100%} }
</style>
