<template>
  <div>
    <div class="select is-light">
      <select id="outcome_options" @change="updateSelection" v-model="outcome_selection">
      <option v-for="(value, index) in outcome_options" :value="value" v-text="value"></option>
      </select>
    </div>
    <div class="chart"> </div>
    <div class="sum_up">
      <span v-if="showPenalties">PENALTIES  (includes penalty shootouts) <br> </span>
      <span v-if="!showPenalties">SHOTS</span> ON TARGET: {{ nr_shots}} <br>
      <span v-if="showPenalties">OFF TARGET: {{ nr_misses}}</span><br>
      GOALS: {{ nr_goals}} <br>
      ({{ sum_up_percentage  }} % SUCCESSFUL)<br>
    </div>
  </div>
  </div>
</template>

<script>
import * as d3 from 'd3';
import drawfield from '../drawing_helpers'

export default {
  name: 'AllShotsOnTarget',

  props: {
    shotdata: Array,
    showPenalties: { default: false, type: Boolean },

  },

  data: function() {
    return {
      h:0,
      w:0,
      _display_data:[],
      colors: ["blue","red"],
      outcome_selection: "All Shots",
      outcome_options: ["All Shots","Successful","Unsuccessful"],
      nr_goals:0,
      nr_shots:0,
      nr_misses:0,
      sum_up_percentage:0,
    }
  },

  mounted() {
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.offsetWidth;
    this.h = this.$el.offsetWidth * 34/105;
    window.addEventListener('resize', this.onResize);
    this.wrangle_data();
    this.init_chart();
    this.update_chart();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      this.w = this.$el.clientWidth;
      this.h = this.$el.clientWidth * 34/105;
      this.svg.remove();
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },

    wrangle_data() {
				var self = this;

        self._display_data = self.shotdata;
        self._display_data.forEach( function(d) {
            d.qualifiers.forEach( function(x) {
              d[x.type] = x.value;
            });
            d.GoalMouthY = +d.GoalMouthY;
            d.GoalMouthZ = +d.GoalMouthZ;
            d.BlockedX = +d.BlockedX;
            d.BlockedY = +d.BlockedY;
            d.Blocked = isNaN(d.GoalMouthY);
        });

        self._display_data = self._display_data.filter(d => !d.Blocked )
        self._display_data = self._display_data.filter(d => !d.hasOwnProperty("OwnGoal") )

        if (! self.showPenalties) {
          self._display_data = self._display_data.filter(d => !d.hasOwnProperty("Penalty") )
          self._display_data = self._display_data.filter(d => d.type.name === "SavedShot" || d.type.name === "Goal" || d.type.name == "ShotOnPost")
        } else {
          self.nr_misses = self._display_data.filter(d => d.type.name === "MissedShots").length;
        }

        self.nr_goals = self._display_data.filter(d => d.type.name === "Goal").length;
        self.nr_shots = self._display_data.filter(d => !d.hasOwnProperty("OwnGoal")).length;
        self.sum_up_percentage = d3.format("0.0f")(self.nr_goals / self.nr_shots * 100)

        if (self.outcome_selection != "All Shots") {
          if (self.outcome_selection == "Successful") {
            self._display_data = self.shotdata.filter(d => d.type.name === "Goal")
          } else {
            self._display_data = self.shotdata.filter(d => d.type.name != "Goal")
          }
        }

        self._display_data = self._display_data.sort(function(a, b) { return (b.type.name == "Goal") < (a.type.name == "Goal") })

      },

			updateSelection() {
				this.wrangle_data();
				this.update_chart();
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 20, right: 20, bottom: 50, left: 20};
        self.svg = d3.select(this.$el).select(".chart")
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(1000); }

				//self.x = d3.scaleLinear().range([0, self.width]);
				self.y = d3.scaleLinear().range([0, self.width]);
        self.z = d3.scaleLinear().range([0, self.height]);

				self.c = d3.scaleOrdinal(d3.schemePaired);
				self.team_color = d3.scaleOrdinal(self.team_colors);
				self.binary = d3.scaleOrdinal().range([-1,1]);

				self.y.domain([58, 42]);
        self.z.domain([60, 0]);


				self.defs.selectAll("marker")
					.data(self.colors)
					.enter()
					.append("marker")
					.attr("id", d => "pmarrow_" + d)
					.attr("refX", 4) /*must be smarter way to calculate shift*/
					.attr("refY", 2)
					.attr("markerWidth", 4)
					.attr("markerHeight", 4)
					.attr("orient", "auto")
					.append("path")
					.attr("d", "M 0,0 V 4 L4,2 Z")
					.attr("fill", d => d);


			  self.legend = self.g.append("g")
				    .attr("class","field")

        self.legend.append("line")
            .attr("x1", 0)
            .attr("y1", self.height)
            .attr("x2", self.width)
            .attr("y2", self.height)
            .attr("stroke","lightgrey")
            .attr("stroke-width", 1)

        self.legend.append("line")
            .attr("x1", self.y(45.1))
            .attr("y1", self.z(39.7))
            .attr("x2", self.y(54.9))
            .attr("y2", self.z(39.7))
            .attr("stroke","lightgrey")
            .attr("stroke-width", 4)

        self.legend.append("line")
            .attr("x1", self.y(45.1))
            .attr("y1", self.height)
            .attr("x2", self.y(45.1))
            .attr("y2", self.z(39.9))
            .attr("stroke","lightgrey")
            .attr("stroke-width", 4)

        self.legend.append("line")
            .attr("x1", self.y(54.9))
            .attr("y1", self.height)
            .attr("x2", self.y(54.9))
            .attr("y2", self.z(39.9))
            .attr("stroke","lightgrey")
            .attr("stroke-width", 4)

        self.legend
          .append("circle")
          .attr("cx", self.width / 2 - 85  )
          .attr("cy", self.height + 27 )
          .attr("fill","blue")
          .attr("r", 8)

        self.legend
          .append("text")
          .attr("x", self.width / 2 - 70 )
          .attr("y", self.height + 30)
          .attr("text-anchor","right")
          .text("Shots")

        self.legend
          .append("circle")
          .attr("cx", self.width / 2  - 10 )
          .attr("cy", self.height + 27 )
          .attr("fill","red")
          .attr("r", 8)

        self.legend
          .append("text")
          .attr("x", self.width / 2 + 5 )
          .attr("y", self.height + 30)
          .text("Goals")


        self.legend
          .append("circle")
          .attr("cx", self.width / 2 + 65  )
          .attr("cy", self.height + 27 )
          .attr("fill","lightgrey")
          .attr("r", 8)

        self.legend
          .append("text")
          .attr("x", self.width / 2 + 80 )
          .attr("y", self.height + 30)
          .attr("text-anchor","right")
          .text("on Post")

        self.copy = self.g.append("g")
          .attr("class","copyright")
          .append("text")
          .attr("x", 10)
          .attr("y", self.height + 10)
          .attr("fill","lightgrey")
          .attr("text-anchor",  "start")
          .attr("style","font-size:0.7em")
          .text("© 2018, fooviz.xyz")

			},

			update_chart() {
				var self = this;

        if (self.touches)
            self.g.selectAll(".shots").remove();

				self.touches = self.g
					.selectAll("circle")
					.data(self._display_data)

					self.touches
						.enter()
						.append("circle")
						.attr("class", "shots")
			  .attr("cx", function(d){ return self.y(d.GoalMouthY) })
						.attr("cy", function(d){ return self.z(d.GoalMouthZ) })
						.attr("r", 8)
			  .attr("stroke", function(d) { return d.type.name == "Goal" ? "red" : d.type.name == "ShotOnPost" ? "lightgrey": "blue" })
						.attr("style",  function(d) { return d.type.name == "Goal" ? "opacity:0.7" : "opacity:0.5" })
						.attr("fill",  function(d) { return d.type.name == "Goal" ? "red" :  d.type.name == "ShotOnPost" ? "lightgrey" : "blue" })
				  }
		}
	}

</script>

<style scoped>
    .shotmap {width:90%; margin:auto}
    .select { font-size: 0.9em }
    .sum_up { font-size: 0.8em; color:#999}
      @media (max-width: 1024px) { .shotmap {width:100%} }
</style>
