<template>
  <div class="eventmap">
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  name: 'EventMap',

  props: {
    gamedata: Object,
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [] }
  },

  data: function() {
    return {
      h:0,
      w:0,
    }
  },

  mounted() {
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.offsetWidth;
    this.h = this.$el.offsetWidth * 68/105;
    //window.addEventListener('resize', this.onResize);

    this.wrangle_data();
    this.init_chart();
    this.update_chart();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      this.w = this.$el.clientWidth;
      this.h = this.$el.clientWidth * 68/105;
    },

    wrangle_data() {
				var self = this;
        self.types = [];

        self.gamedata.actions.forEach( function(d) {
          if (self.types.indexOf(d.type.name) == -1)
            self.types.push(d.type.name);
          d.second = +d.second;
          if (isNaN(d.second)) d.second = 0;
          d.time = +d.expanded_minute + (+d.second / 60);
        })

        self._display_data = self.gamedata.actions;
		},

		updateSelection() {
			this.wrangle_data();
			this.update_chart();
		},

		init_chart: function() {
			var self = this;

      self.margin = {top: 10, right: 10, bottom: 30, left: 100};
      self.svg = d3.select(this.$el)
        .append('svg')
        .attr('width', self.w)
        .attr('height', self.h)

      self.width = self.w - self.margin.left - self.margin.right;
      self.height = self.h - self.margin.top - self.margin.bottom;

			self.defs = self.svg.append("defs");
			self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
			self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
			self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

      self.t = () => { return d3.transition().duration(1000); }

			self.x = d3.scaleLinear().range([0, self.width]);
			self.y = d3.scaleBand().range([0, self.height]).padding(1);
			self.c = d3.scaleOrdinal(d3.schemePaired);
			self.team_color = d3.scaleOrdinal(["blue","orange"]);
			self.binary = d3.scaleOrdinal().range([-1,1]);

			self.x.domain([0, d3.max(self._display_data, function(d){ return d.time})]);
			self.y.domain(self.types);

			self.xAxisCall = d3.axisBottom(self.x)
			self.xAxisGroup = self.g.append("g")
				.attr("class", "x axis")
				.attr("transform", "translate(0," + self.height +")")
				.call(self.xAxisCall);

			self.legend = self.g.append("g")
				.attr("class","legend")
				.attr("transform", "translate(-100,0)");

			self.types.forEach(function(d, i){
				var legendRow = self.legend.append("g")
					.attr("transform", "translate(0," + (self.y(d)-5) + ")");

				legendRow.append("text")
					.attr("x", 10)
					.attr("y", 10)
					.attr("text-anchor", "start")
					.style("text-transform", "capitalize")
					.text(d.replace(/([A-Z]+)/g, " $1").replace(/([A-Z][a-z])/g, " $1"));

				legendRow.append("line")
					.attr("x1", 100)
					.attr("y1", 5)
					.attr("x2", self.width + self.margin.left)
					.attr("y2", 5)
					.attr("stroke","lightgrey")
			});

      self.tooltip = d3.select("body")
        .append("div")
        .attr("class","tooltip")
        .style("position", "absolute")
        .style("z-index", "10")
        .style("visibility", "hidden")
        .style("background", "white")
        .style("border", "1px solid #888888")
        .style("box-shadow", "2px 2px 5px #333")
        .style("padding", "0px 5px")
        .style("text-align", "left")
        .style("font-size", "10px")
        .style("line-height", "12px")
        .text("a simple tooltip");
		},

		update_chart() {
      var self = this;

			self.x.domain([0, d3.max(self._display_data, function(d){ return d.time})]);
      self.team_color.domain(function(d){ return d.team_id });
			//self.y.domain(self._display_data.map(function(d){ return d.type.name; }));
			self.xAxisGroup.call(self.xAxisCall);

			self.events = self.g
				.selectAll("circle")
				.data(self._display_data)

			self.events.exit()
				.attr("class", "exit")
				.transition(self.t())
				.remove();

			self.events.attr("class", "update")
				.transition(self.t())
					.attr("y", function(d){ return self.y(d.type.name); })
					.attr("height", function(d){ return (self.height - self.y(d[this.variable])); })
					.attr("x", function(d){ return self.x(d.time) })
					.attr("width", self.x.bandwidth)

			self.events.enter()
				.append("circle")
				.attr("class", "enter")
				.attr("cy", function(d){ return self.y(d.type.name) - 4* self.binary(d.team_id); })
				.attr("r", function(d){
					if (d.outcome_type.value == 0)
						return 2
					else
						return 3
				})
				.attr("cx", function(d){ return self.x(d.time) })
				.attr("fill", function(d){
					if (d.outcome_type.value === 0)
						return "red"
					else
						return self.team_colors[self.team_ids.indexOf(d.team_id)];
				})
				.attr("title", function(d){ return d.type.name })
				.attr("style", "opacity:0.7")
        .on("mouseover", function(d){return self.tooltip.style("visibility", "visible").html(
            "<pre>"+JSON.stringify(d, null,2)+"</pre>"  )
        })
        .on("mousemove", function(){ return self.tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
        .on("mouseout", function(){return self.tooltip.style("visibility", "hidden");})
		}
	}
}

</script>

<style>
  text {font-size:11px;}
  .tooltip pre {padding:5px;}
</style>
