<template>
  <div class="footprint">
  </div>
</template>

<script>
import * as d3 from 'd3';
import drawfield from '../drawing_helpers'

export default {
  name: 'FootPrintChart',

  props: {
    gamedata: Object,
    country: { default: "0", type: String },
    flip: { default: false, type: Boolean },
    color: { default: "black", type: String },
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [1,2] },
    team_id: { default: 0, type: Number },
  },

  data: function() {
    return {
      h:0,
      w:0,
      flipMe:false,
    }
  },

  mounted() {
    console.log(this.$options._componentTag + " mounted");
    var self = this;
    this.w = this.$el.clientWidth;
    if (document.documentElement.clientWidth > 768) {
      this.h = this.$el.clientWidth * 80/105;
      self.flipMe = self.flip;
    }  else {
      self.flipMe = false;
      this.h = this.$el.clientWidth * 55/105;
    }
    window.addEventListener('resize', this.onResize);
    this.load_data();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      var self = this;
      this.w = this.$el.clientWidth;
      if (document.documentElement.clientWidth > 768) {
        this.h = this.$el.clientWidth * 80/105;
        self.flipMe = self.flip;
      }  else {
        self.flipMe = false;
        this.h = this.$el.clientWidth * 55/105;
      }
      this.svg.remove();
      //this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },


		updateSelection() {
			this.wrangle_data();
			this.update_chart();
		},

    load_data() {
      var self = this;
        d3.csv("data/globalfootprint/"+self.country+".csv").then( function(d) {
          self.data = d;
          self.init_chart();
          self.update_chart();

        }).catch(function(e) {
          console.log(e);
        })

    },


    wrangle_data() {
				var self = this;
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 20, right: 35, bottom: 60, left:10};
        self.svg = d3.select(this.$el)
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(200); }

        if (self.flipMe) {
          self.x = d3.scaleLinear().range([self.width, 0]);
        } else {
				      self.x = d3.scaleLinear().range([0, self.width]);
        }
        self.y = d3.scaleLinear().range([self.height, 0]);

				self.x.domain([0, 100]);
				self.y.domain([0, 100]);

				self.legend = self.g.append("g")
					.attr("class","legend")

        self.team_ids.forEach( function(d,i) {
            if ((self.team_id === 0)  || (self.team_id && self.team_id == d)) {
              self.legend
                .append("rect")
                .attr("x", function(d){ return self.flipMe ? self.width - 10 : 5 })
                .attr("y", -16) //function(d){ return self.flip !="0" ? self.height + 8 : - 16})
                .attr("width", 8)
                .attr("height", 8)
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("text")
                .attr("x", self.flipMe ? self.width - 20 : 20 )
                .attr("y", -8 )
                .attr("text-anchor", self.flipMe ? "end" : "start" )
                .text( i > 0 ? self.gamedata.quick_info.away.abbreviation_name : self.gamedata.quick_info.home.abbreviation_name  )
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("line")
                .attr("x1", function(d){ return self.flipMe ? self.width - 50 : 50; })
                .attr("y1",  -12)
                .attr("x2", function(d){  return self.flipMe ? self.width - 70 : 70 })
                .attr("y2", -12 )
                .attr("stroke", self.team_colors[i] )
                .attr("marker-end",  function(d){
                    return "url(#pmarrow_" + self.team_colors[i]; + ")"
                })
            }
        })

			},

			update_chart() {
				var self = this;

        self.x.domain(d3.extent(self.data, function(d) { return d.year; }));
        self.y.domain( [0, 6]);


        var line = d3.line()
          .x(function(d) { return self.x(d.year); })
          .y(function(d) { return self.y(d.value); })

            // Define the area path generator
        var area = d3.area()
            .x(  function(d) { return self.x(d.year); } )
            .y0( function(d) { return self.y(d.value); } )
            .y1( function(d) { return self.y(Math.min(d.value,1)) } );

            // Define the area path generator
        var area_good = d3.area()
              .x(  function(d) { return self.x(d.year); } )
              .y0( function(d) { return self.y(d.value); } )
              .y1( function(d) { return self.y(Math.max(d.value,1)) } );

        self.g.append("g")
              .attr("transform", "translate(0," + self.height + ")")
              .call(d3.axisBottom(self.x).ticks(5).tickFormat(function(d) {
                return d3.format("0d")(d); }))
            .select(".domain")
              .remove();

        self.axisBottom = self.g.append("g")
          .attr("class","axis axisRight")
          .attr("transform", "translate("+ (self.width + 5 )+ ",0)")
            .call(d3.axisRight(self.y).ticks(5).tickFormat(function(d) {
              return d3.format("d")(d) + " x"; }))


        if (self.flipMe) {
          self.axisBottom.attr("class","axis axisLeft")
          self.axisBottom
            .attr("transform", "translate(-5,0)")
            .call(d3.axisLeft(self.y).ticks(5))
            .selectAll(".tick text")
              .remove();
        }

        self.axisBottom
            .select(".domain")
              .remove();
        self.g.append("path")
               .datum(self.data)
               .attr("d", area)
               .attr("fill","red")
               .attr("style","opacity:0.2")

       self.g.append("path")
              .datum(self.data)
              .attr("d", area_good)
              .attr("fill","green")
              .attr("style","opacity:0.2")

        self.g.append("line")
            .attr("x1",0)
            .attr("y1", self.y(1))
            .attr("x2", self.width)
            .attr("y2", self.y(1))
            .attr("fill", "none")
            .attr("stroke", "green")
            .attr("stroke-linejoin", "round")
            .attr("stroke-linecap", "round")
            .attr("stroke-width", 1.5)


        self.g.append("path")
            .attr("fill", "none")
            .attr("d",line(self.data))
            .attr("stroke", "red")
            .attr("stroke-linejoin", "round")
            .attr("stroke-linecap", "round")
            .attr("stroke-width", 1.5)

        var current=self.data[self.data.length-1].value;
        var text = typeof current == "undefined" ? "NO DATA" :
          d3.format("0.1f")(current) + " x EARTH"

          self.g.append("text")
            .attr("class","xEarth")
            .attr("x", self.width/2)
            .attr("y", 60)
            .attr("style","font-size:24px")
            .attr("text-anchor","middle")
            .text(text)
			}
		}
	}

</script>

<style scoped>
    div.footprint {width:100%;}
</style>
