<template>
  <div class="">
  </div>
</template>

<script>
import * as d3 from 'd3';
import drawfield from '../drawing_helpers'

export default {
  name: 'FraudBars',

  props: {
    country: { default: "0", type: String },
  },

  data: function() {
    return {
      h:0,
      w:0,
      flipMe: false,
    }
  },

  mounted() {
    var self = this;
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.clientWidth;
    this.h = this.$el.clientWidth * 55/105;
    window.addEventListener('resize', this.onResize);
    this.load_data();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      var self = this;
      this.w = this.$el.clientWidth;
      this.h = this.$el.clientWidth * 55/105;
      this.svg.remove();
      //this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },


		updateSelection() {
			this.wrangle_data();
			this.update_chart();
		},

    load_data() {
      var self = this;
        d3.csv("data/frauds/fraud.csv").then( function(d) {
          d.forEach(function(d){
            d.value = +d.value;
            d.jail = +d.jail;
          })
          self._display_data = d.sort( function(a,b) { return b.value > a.value});
          self.init_chart();
          self.update_chart();
        }).catch(function(e) {
          console.log(e);
        })
    },


    wrangle_data() {
				var self = this;
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 20, right: 60, bottom: 80, left:50};
        self.svg = d3.select(this.$el)
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

        self.x = d3.scaleBand().range([0, self.width]).padding(0.1)
        self.y = d3.scaleLinear().range([self.height, 0]);

        self.tooltip = d3.select("body")
          .append("div")
          .attr("class","tooltip")

				self.legend = self.g.append("g")
					.attr("class","legend")
			},

			update_chart() {
				var self = this;

        self.y.domain([0, d3.max(self._display_data, function(d) { return d.value; })]);
        self.x.domain(self._display_data.map(function(d) { return d.name; }));

        self.axisBottom = self.g.append("g")
          .attr("class","axis axisRight")
          .attr("transform", "translate("+ (self.width + 5 )+ ",0)")
          .call(d3.axisRight(self.y).ticks(5).tickFormat(function(d) {
                return d3.format("~s")(d) + " EUR " ; }))

        self.axisBottom.select(".domain").remove();


        self.bars = self.g.selectAll(".bar")
          .data(self._display_data)
          .enter().append("rect")
            .attr("class", "bar")
            .attr("x", function(d) { return self.x(d.name) })
            .attr("y", function(d) { return self.y(d.value) })
            .attr("width", self.x.bandwidth())
            .attr("height", function(d) { return self.height - self.y(d.value) ; })
            .attr("fill",function(d) { return d.status == "convicted" ? "red" : "blue";} )
            .attr("style","opacity:0.8")
            .on("mouseover", function(d){return self.tooltip.style("visibility", "visible").html(
                d.name + ": " + d3.format("~s")(d.value) + " EUR " + (d.jail > 0 ? "<br>(Jail sentence: " + d.jail + " months)" : "")
                + "<br>" + d.status + ", " + d.year
            )  })
            .on("mousemove", function(){ return self.tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
            .on("mouseout", function(){return self.tooltip.style("visibility", "hidden");})

        self.g.selectAll(".barlabels")
          .data(self._display_data)
          .enter()
          .append("text")
          .attr("class", "bar")
          .attr("x",0)
          .attr("y",0)
          .attr("text-anchor","start")
          .attr("fill","black")
          .attr("transform", function(d) {
            return "translate(" + (self.x(d.name) + self.x.bandwidth()/2) + "," + (self.height+5) +  "),rotate(90)"
          })
          .text(function(d) { return d.name })
			}
		}
	}

</script>

<style scoped>
    div {width:100%;}
</style>
