<template>
  <div class="">
      <div class="chart">

      </div>
      <div class="">

      </div>
  </div>
</template>

<script>
import * as d3 from 'd3';
import drawfield from '../drawing_helpers'

export default {
  name: 'GHGEmissions',

  props: {
    gamedata: Object,
    country: { default: "0", type: String },
    flip: { default: false, type: Boolean },
    color: { default: "black", type: String },
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [1,2] },
    team_id: { default: 0, type: Number },
    pop: { default: 0 , type: Number},
    max: { default: 2200 , type: Number}
  },

  data: function() {
    return {
      h:0,
      w:0,
      is_small:false,
      flipMe:false,
      ghg_cap:0,
    }
  },

  mounted() {
    var self = this;
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.clientWidth;
    if (document.documentElement.clientWidth > 768) {
      this.h = this.$el.clientWidth * 80/105;
      self.flipMe = self.flip;
    }  else {
      self.flipMe = false;
      this.h = this.$el.clientWidth * 55/105;
    }
    window.addEventListener('resize', this.onResize);
    this.load_data();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      var self = this;
      this.w = this.$el.clientWidth;
      if (document.documentElement.clientWidth > 768) {
        this.h = this.$el.clientWidth * 80/105;
        self.flipMe = self.flip;
      }  else {
        self.flipMe = false;
        this.h = this.$el.clientWidth * 55/105;
      }
      this.svg.remove();
      //this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },


		updateSelection() {
			this.wrangle_data();
			this.update_chart();
		},

    load_data() {
      var self = this;
        d3.json("data/ghg/"+self.country+".json").then( function(d) {
          self._display_data = d[0].emissions;
          self._display_data.forEach( function(d) {
            d.value = +d.value;
            d.year = +d.year;
          })

          self.ghg_cap = self._display_data[self._display_data.length-1].value * 1000 * 1000 / self.pop;
          self.latest = self._display_data[self._display_data.length-1].year;

          self.init_chart();
          self.update_chart();
        }).catch(function(e) {
          console.log(e);
        })

    },


    wrangle_data() {
				var self = this;
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 20, right: 45, bottom: 90, left:10};
        self.svg = d3.select(this.$el)
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(200); }

        if (self.flipMe) {
          self.x = d3.scaleLinear().range([self.width, 0]);
        } else {
				      self.x = d3.scaleLinear().range([0, self.width]);
        }
        self.y = d3.scaleLinear().range([self.height, 0]);

				self.x.domain(d3.extent(d=> d.year ));
				self.y.domain([0, 100]);

				self.legend = self.g.append("g")
					.attr("class","legend")

        self.team_ids.forEach( function(d,i) {
          if ((self.team_id === 0)  || (self.team_id && self.team_id == d)) {
            self.legend
              .append("rect")
              .attr("x", function(d){ return self.flipMe ? self.width - 10 : 5 })
              .attr("y", -16) //function(d){ return self.flip !="0" ? self.height + 8 : - 16})
              .attr("width", 8)
              .attr("height", 8)
              .attr("fill", self.team_colors[i] )

            self.legend
              .append("text")
              .attr("x", self.flipMe ? self.width - 20 : 20 )
              .attr("y", -8 )
              .attr("text-anchor", self.flipMe  ? "end" : "start" )
              .text( i > 0 ? self.gamedata.quick_info.away.abbreviation_name : self.gamedata.quick_info.home.abbreviation_name  )
              .attr("fill", self.team_colors[i] )

            self.legend
              .append("line")
              .attr("x1", function(d){ return self.flipMe ? self.width - 50 : 50; })
              .attr("y1",  -12)
              .attr("x2", function(d){  return self.flipMe ? self.width - 70: 70 })
              .attr("y2", -12 )
              .attr("stroke", self.team_colors[i] )
              .attr("marker-end",  function(d){
                  return "url(#pmarrow_" + self.team_colors[i]; + ")"
              })
          }
        })


        if (self.tooltip) {
          self.tooltip.remove();
        }

        if (self.focus) {
          self.focus.remove();
        }

        self.focus = self.g.append("g")
         .attr("class", "focus")
         .style("display", "none");

        self.focus.append("circle")
           .attr("r", 5)
           .attr("stroke-width","2")
           .attr("fill","black")
           .attr("stroke","black")

        self.tooltip = d3.select("body")
          .append("div")
          .attr("class","tooltip")
    	},

			update_chart() {
				var self = this;

        self.x.domain(d3.extent(self._display_data, function(d) { return d.year; }));
        self.y.domain( [0, self.max * 1]);


        var line = d3.line()
          .defined(function (d) { return !isNaN(d.value) })
          .x(function(d) { return self.x(d.year); })
          .y(function(d) { return self.y(d.value); })

            // Define the area path generator
        var area = d3.area()
            .defined(function (d) { return !isNaN(d.value) })
            .x(  function(d) { return self.x(d.year); } )
            .y0( function(d) { return self.y(d.value); } )
            .y1( function(d) { return self.y(Math.min(d.value,0)) } );

        var  bisectDate = d3.bisector(function(d) { return d.year; }).left;

        self.g.append("g")
              .attr("transform", "translate(0," + self.height + ")")
              .call(d3.axisBottom(self.x).ticks(5).tickFormat(function(d) {
                return d3.format("0d")(d); }))
            .select(".domain")
              .remove();

        self.axisBottom = self.g.append("g")
          .attr("class","axis axisRight")
          .attr("transform", "translate("+ (self.width + 5 )+ ",0)")
            .call(d3.axisRight(self.y).ticks(3).tickFormat(function(d) {
              return self.max > 900 ? d3.format("0.0f")(d/1000) + "Gt" : d3.format("0.0f")(d) + "Mt" }))


        if (self.flipMe) {
          self.axisBottom.attr("class","axis axisLeft")
          self.axisBottom
            .attr("transform", "translate(-5,0)")
            .call(d3.axisLeft(self.y).ticks(3).tickFormat(function(d) {
              return d3.format("0.0f")(d/1000) + ""; }))
            .selectAll(".tick text")
              .remove();
        }

        self.axisBottom
            .select(".domain")
              .remove();

        self.g.append("path")
               .datum(self._display_data)
               .attr("d", area)
               .attr("fill","black")
               .attr("style","opacity:0.2")


        self.g.append("path")
            .attr("fill", "none")
            .attr("d",line(self._display_data))
            .attr("stroke", "black")
            .attr("stroke-linejoin", "round")
            .attr("stroke-linecap", "round")
            .attr("stroke-width", 1.5)

        self.g.append("rect")
          .attr("class", "overlay")
          .attr("x", 0)
          .attr("y", 0)
          .attr("width", self.width)
          .attr("height", self.height)

          /*
          .on("mouseover", function() {
              self.focus.style("display", null);
              self.tooltip.style("visibility", "visible");
          })
          .on("mouseout", function() {
            self.focus.style("display", "none");
            self.tooltip.style("visibility", "hidden");
          })
          .on("mousemove", mousemove)

          function mousemove() {
            var x0 = self.x.invert(d3.mouse(this)[0]);
            var i = bisectDate(self._display_data, x0, 1);
            var d0 = self._display_data[i - 1];
            var d1 = self._display_data[i];
            var d = x0 - d0.year > d1.year - x0 ? d1 : d0;
            self.focus.attr("transform", "translate(" + self.x(d.year) + "," + self.y(d.value) + ")");
            var tip_x = self.x(d.year) + self.$el.getBoundingClientRect().x + 20;
            var tip_y = self.y(d.value) + self.$el.getBoundingClientRect().top + -document.body.getBoundingClientRect().top - 10;
            self.tooltip.html("<strong>" + d.year + "</strong> | " + d.value + " Mega tons")
            self.tooltip.style("top",tip_y +"px").style("left", tip_x +"px");
          }

          */
        var current=self._display_data[self._display_data.length-1].value;

        if ( typeof current == "undefined" ) {
          text =  "NO DATA"
          self.g.append("text")
            .attr("class","xEarth")
            .attr("x", self.width/2)
            .attr("y", 60)
            .attr("style","font-size:24px")
            .attr("text-anchor","middle")
            .text(text)
        }

        self.r = d3.scaleSqrt().range([0, 25]).domain([0, 20]);


        var per_cap = self.g.append("g").attr("class","per_cap")

        per_cap.append("circle")
          .attr("cx", self.flipMe ? 20 : self.width - 20)
          .attr("cy", self.height + 60)
          .attr("r", self.r(self.ghg_cap))
          .attr("fill", "#333333")


        per_cap.append("text")
          .attr("x", self.flipMe ? 50 : self.width - 50)
          .attr("y", self.height + 64)
          .attr("text-anchor", self.flipMe ? "start" : "end")
          .text(d3.format("0.1f")(self.ghg_cap) + "kg/person (" +   self.latest + ")")
          .attr("fill", "black")

			}
		}
	}

</script>

<style>
    .axis text {font-size: 9px}
    .line {
      fill: "none";
      stroke: steelblue;
      stroke-width: 1.5px;
    }
    .overlay {
      fill: none;
      pointer-events: all;
    }
    @media (min-width: 1024px) {
       /*.axisLeft .tick { display: none} */
      }
</style>
