<template>
  <div class="">
    <div class="chart"></div>
  </div>
</template>

<script>
import * as d3 from 'd3';
import drawfield from '../drawing_helpers'

export default {
  name: 'GoalHist',

  props: {
    gamedata: Object,
    goal:{ default: 0, type: Number },
    team_id: { default: 0, type: Number },
    team: { default: "0", type: String },
    flip: { default: "0", type: String },
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [1,2] }
  },

  data: function() {
    return {
      h:0,
      w:0,
      minute:0,
      second:0,
      period:"FirstHalf",
      queue: [],
      running: false,
      replaytime: 0,
      control_icon: "play_arrow",
      expanded_max_minute: 0,
      timespan:1.25,
      goal_time:0
    }
  },



  mounted() {
    var self = this;
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.offsetWidth;
    this.h = this.$el.offsetWidth * 64/105;
    window.addEventListener('resize', this.onResize);
    this.wrangle_data();
    this.init_chart();
    this.update_chart();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {


    onResize() {
      this.w = this.$el.offsetWidth;
      this.h = this.$el.offsetWidth * 68/105;
      this.svg.remove();
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },


    wrangle_data() {
				var self = this;
        var types = ["Goal"]

        var goal = self.gamedata.actions.filter(
                d => types.indexOf(d.type.name) > -1
                  && (
                    (d.team_id == self.team_id && !d.hasOwnProperty('OwnGoal') )
                    || (d.hasOwnProperty('OwnGoal') && d.team_id != self.team_id)
                  )
            )[+self.goal-1]

        //console.log(g, self.goal-1);
        if (goal) {
          self.goal_time = goal.time;
          self.goal_minute = goal.minute;
          self._display_data =  self.gamedata.actions.filter(
            d => d.time > Math.max(self.goal_time - self.timespan, 0)
              && d.time <= self.goal_time
          )
        }
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 20, right: 20, bottom: 10, left: 20};
        self.svg = d3.select(this.$el).select(".chart")
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(200); }

				self.x = d3.scaleLinear().range([0, self.width]);
				self.y = d3.scaleLinear().range([0, self.height]);
				self.c = d3.scaleOrdinal(d3.schemePaired);
				self.team_color = d3.scaleOrdinal(self.team_colors);
				self.binary = d3.scaleOrdinal().range([-1,1]);

				self.x.domain([0, 100]);
				self.y.domain([0, 100]);

				self.legend = self.g.append("g")
					.attr("class","field")

			  drawfield(self.legend, self.width, self.height)

				self.team_colors.push("red")
        self.team_colors.push("grey")
				self.defs.selectAll("marker")
					.data(self.team_colors)
					.enter()
					.append("marker")
					.attr("id", d => "pmarrow_" + d)
					.attr("refX", 4) /*must be smarter way to calculate shift*/
					.attr("refY", 2)
					.attr("markerWidth", 4)
					.attr("markerHeight", 4)
					.attr("orient", "auto")
					.append("path")
					.attr("d", "M 0,0 V 4 L4,2 Z")
					.attr("fill", d => d)

        self.team_ids.forEach( function(d,i) {
            var dir = self.team_ids.indexOf(d);

            if ((self.team_id === "0")  || (self.team_id && self.team_id == d)) {
              self.legend
                .append("rect")
                .attr("x", dir != 0 ? self.width - 10 : 5 )
                .attr("y", -16 ) //dir != 0 ? self.height + 8 : - 16 )
                .attr("width", 8)
                .attr("height", 8)
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("text")
                .attr("x", dir !=0 ? self.width - 20 : 20)
                .attr("y", -8 )
                .attr("text-anchor", dir  !=0 ? "end" : "start" )
                .text( dir !=0 ? self.gamedata.quick_info.away.abbreviation_name : self.gamedata.quick_info.home.abbreviation_name  )
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("line")
                .attr("x1", dir != 0 ? self.width - 50 : 50 )
                .attr("y1", -12 ) //dir != 0 ? self.height + 12 : - 12 )
                .attr("x2", dir != 0 ? self.width - 70 : 70 )
                .attr("y2", -12) // dir != 0 ? self.height + 12 : - 12 )
                .attr("stroke", self.team_colors[i] )
                .attr("marker-end",  "url(#pmarrow_" + self.team_colors[i] + ")")
            }
        })

        self.copy = self.g.append("g")
          .attr("class","copyright")
          .append("text")
          .attr("x", self.width - 10)
          .attr("y", self.height + 10)
          .attr("fill","lightgrey")
          .attr("text-anchor","end")
          .attr("style","font-size:0.7em")
          .text("© 2018, fooviz.xyz")

        self.chart = self.g
          .append("g")
          .attr("class","passes");

			},

      removeOne() {
        var self = this;
        self.queue[0].remove();
        self.queue.shift()
      },

			update_chart() {
				var self = this;

        if (self._display_data) {
          self.g.append("text")
              .attr("fill", "#999")
              .attr("x", self.width/2)
              .attr("y", -8)
              .attr("text-anchor","middle")
              .text(self.goal_minute + "'")

          self._display_data.forEach( function (d) {

            var age = (self.timespan - (self.goal_time - d.time)) / self.timespan;
            var dir = self.team_ids.indexOf(d.team_id)

            if (d.hasOwnProperty("OwnGoal")) {
              dir =  (dir == 0 ? 1 : 0)
              d.start_x = 100 - d.start_x;
              //d.end_y = d.end_y;
              d.GoalMouthY = 100 - d.GoalMouthY ;
            }

            if (d.type.name === "Foul" && d.outcome_type.value == 1 ) {
              var x = self.chart
                  .append("g")
                x.append("line")
                  .attr("x1", dir !=0 ? self.width - self.x(d.start_x) - 4 : self.x(d.start_x) - 4  )
                  .attr("y1", dir ==0 ? self.height - self.y(d.start_y) - 4 : self.y(d.start_y) - 4 )
                  .attr("x2", dir !=0 ? self.width - self.x(d.start_x) + 4 : self.x(d.start_x)  + 4  )
                  .attr("y2", dir ===0 ? self.height - self.y(d.start_y) + 4 : self.y(d.start_y) + 4 )
                  .attr("stroke-width", "2" )
                  .attr("stroke", self.team_colors[self.team_ids.indexOf(d.team_id)] )
                  .attr("style", "opacity:" + age)
                x.append("line")
                  .attr("x1", dir !=0 ? self.width - self.x(d.start_x) + 4 : self.x(d.start_x) + 4  )
                  .attr("y1", dir == 0 ? self.height - self.y(d.start_y) - 4 : self.y(d.start_y) - 4 )
                  .attr("x2", dir !=0 ? self.width - self.x(d.start_x) - 4 : self.x(d.start_x)  - 4  )
                  .attr("y2", dir == 0 ? self.height - self.y(d.start_y) + 4 : self.y(d.start_y) + 4 )
                  .attr("stroke-width", "2" )
                  .attr("stroke", self.team_colors[self.team_ids.indexOf(d.team_id)] )
                  .attr("style", "opacity:" + age)
            } else if (d.is_touch) {
              var x = self.chart
                .append("circle")
                .attr("class", "enter")
                .attr("cx", dir !=0 ? self.width - self.x(d.start_x) : self.x(d.start_x) )
                .attr("cy", dir == 0 ? self.height - self.y(d.start_y) : self.y(d.start_y))
                .attr("r", 4)
                .attr("fill", self.team_colors[self.team_ids.indexOf(d.team_id)] )
                .attr("style", "opacity:" + age)
            }
            //if (d.type.name == "Pass") {
            if (typeof d.end_x !== 'undefined' && typeof d.end_y !== 'undefined' ) {
              var y = self.chart
                .append("line")
                .attr("class", "enter")
                .attr("x1", dir != 0 ? self.width - self.x(d.start_x) : self.x(d.start_x ))
                .attr("x2", dir != 0 ? self.width - self.x(d.end_x) : self.x(d.end_x) )
                .attr("y1", dir == 0 ? self.height - self.y(d.start_y) : self.y(d.start_y))
                .attr("y2", dir == 0 ? self.height -  self.y(d.end_y) : self.y(d.end_y))
                .attr("stroke", self.team_colors[self.team_ids.indexOf(d.team_id)] )
                .attr("style", "opacity:0.9")
                .attr("stroke-width", "2")
                .attr("marker-end",  "url(#pmarrow_" + self.team_colors[self.team_ids.indexOf(d.team_id)] + ")" )
                .attr("style", "opacity:" + age)
            }
            //if (d.type.name == "Pass") {
            if ( (typeof d.GoalMouthY !== 'undefined') || (typeof d.BlockedX !== 'undefined' && typeof d.Blocked !== 'undefined') ) {
              var z = self.chart
                  .append("line")
                  .attr("class", "enter")
                  .attr("x1", dir !=0 ? self.width - self.x(d.start_x) : self.x(d.start_x ))
                  .attr("x2", dir !=0 ? self.x(0) : self.width )
        					.attr("y1", dir == 0 ? self.height - self.y(d.start_y) : self.y(d.start_y))
        					.attr("y2", dir == 0 ? self.height - self.y(d.GoalMouthY || d.BlockedY) : self.y(d.GoalMouthY || d.BlockedY))
                  .attr("stroke", self.team_colors[self.team_ids.indexOf(d.team_id)] )
        					.attr("style", "opacity:0.9")
        					.attr("stroke-width", "4")
                  .attr("marker-end",  "url(#pmarrow_" + self.team_colors[self.team_ids.indexOf(d.team_id)] + ")" )
                  .attr("style", "opacity:" + age)
                if (d.type.name == "Goal") {
                  var goal = self.chart
                      .append("circle")
                      .attr("cx", dir !=0 ? self.x(0) - 10 : self.width + 10 )
                      .attr("cy", dir == 0 ? self.height - self.y(d.GoalMouthY || d.BlockedY) : self.y(d.GoalMouthY || d.BlockedY))
                      .attr("r", 4 )
                      .attr("fill", self.team_colors[self.team_ids.indexOf(d.team_id)] )
                      .attr("style", "opacity:" + age)
                }
            }
          });
        } else {
            var text =  "NO GOAL"
            self.g.append("text")
              .attr("class","xEarth")
              .attr("x", self.width/2)
              .attr("y", 60)
              .attr("style","font-size:24px")
              .attr("text-anchor","middle")
              .text(text)
        }
      }


			},
		}


</script>

<style scoped>
  .slider {padding: 0px 20px;}
    div {width:100%;margin:auto}
    .clock  { stroke:#d0d0d0; font-size: 1.1em; font-family: monospace}
</style>
