<template>
  <div class="eventmap">
      <!--<span class="subsubtitle"> PASSES &amp; SHOTS</span>-->
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  name: 'Histo',

  props: {
    gamedata: Object,
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [] }
  },

  data: function() {
    return {
      h:0,
      w:0,
      count_home:0,
      count_away:0,
    }
  },

  mounted() {
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.offsetWidth;
    this.h = 170; //this.$el.offsetWidth * 1/10;
    window.addEventListener('resize', this.onResize);
    this.wrangle_data();
    this.init_chart();
    this.update_chart();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      this.w = this.$el.clientWidth;
      this.svg.remove();
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },

    wrangle_data() {
				var self = this;
        self.types = [];

        self.gamedata.actions.forEach( function(d) {
          if (self.types.indexOf(d.type.name) == -1)
            self.types.push(d.type.name);
          d.time = +d.expanded_minute + (+d.second / 60);
          d.player
        })

        // count Passes

        self.count_home = self.gamedata.actions.filter(
            d => d.type.name =="Pass" && d.team_id == self.team_ids[0] && d.outcome_type.value == 1
          ).length   + "/"
          + self.gamedata.actions.filter( d => d.type.name =="Pass" && d.team_id == self.team_ids[0]).length

        self.count_away = self.gamedata.actions.filter(
            d => d.type.name =="Pass" && d.team_id == self.team_ids[1] && d.outcome_type.value == 1
          ).length
           + "/" + self.gamedata.actions.filter( d => d.type.name =="Pass" && d.team_id == self.team_ids[1]).length;

        // count shots
        var types = ["SavedShot","MissedShots","ShotOnPost","Goal"]

        self.shot_count_home = self.gamedata.actions.filter(
               d =>  types.indexOf(d.type.name) > -1 && d.team_id == self.team_ids[0] && d.outcome_type.value == 1
             ).length

       self.shot_count_away = self.gamedata.actions.filter(
              d =>  types.indexOf(d.type.name) > -1 && d.team_id == self.team_ids[0] && d.outcome_type.value == 1
            ).length



        self._display_data = self.gamedata.actions;
		},

		updateSelection() {
			this.wrangle_data();
			this.update_chart();
		},

		init_chart: function() {
			var self = this;

      self.margin = {top: 30, right: 25, bottom: 45, left: 25};
      self.svg = d3.select(this.$el)
        .append('svg')
        .attr('width', self.w)
        .attr('height', self.h)

      self.width = self.w - self.margin.left - self.margin.right;
      self.height = self.h - self.margin.top - self.margin.bottom;

			self.defs = self.svg.append("defs");
			self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
			self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
			self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

      self.t = () => { return d3.transition().duration(1000); }

			self.x = d3.scaleLinear().range([0, self.width]);
			self.c = d3.scaleOrdinal(d3.schemePaired);
			self.team_color = d3.scaleOrdinal(["blue","orange"]);
			self.binary = d3.scaleOrdinal().range([-1,1]);

      var max_time = d3.max(self._display_data, function(d){ return d.time});
      var ht_time = self._display_data.filter(d=> (d.type.name == "Start" && d.period.name == "SecondHalf"))[0].time;

			self.x.domain([0, max_time]);

      self.legend = self.g.append("g").attr("class","legend")

      self.legend
        .append("rect")
        .attr("x", self.width / 2 - 100 )
        .attr("y", self.height + 20 )
        .attr("width", 8)
        .attr("height", 8)

      self.legend
        .append("text")
        .attr("x", self.width / 2 - 85 )
        .attr("y", self.height + 28)
        .text("Passes")

      self.legend
        .append("polygon")
        .attr("points", ""+ (self.width / 2 - 20) + "," +  (self.height + 28) + ","
          + (self.width / 2 - 16) + "," +  (self.height + 20) + ","
          +  (self.width / 2 - 12) + "," +  (self.height + 28))

      self.legend
        .append("text")
        .attr("x", self.width / 2 - 5 )
        .attr("y", self.height + 28)
        .text("Shots")

      self.legend
        .append("circle")
        .attr("cx", self.width / 2 + 60  )
        .attr("cy", self.height + 24 )
        .attr("r", 4)

      self.legend
        .append("text")
        .attr("x", self.width / 2 + 72 )
        .attr("y", self.height + 28)
        .text("Goals")

      self.legend
        .append("line")
        .attr("x1", 0  )
        .attr("x2", self.width )
        .attr("y1", self.height + 40 )
        .attr("y2", self.height + 40  )
        .attr("stroke","lightgrey")

      self.legend
        .append("text")
        .attr("x", -10 )
        .attr("y", self.height + 44)
        .text("0'")

      self.legend
        .append("text")
        .attr("x", self.width + 5 )
        .attr("y", self.height + 44)
        .text(d3.format("0d")(max_time) + "'")

        self.legend
          .append("line")
          .attr("x1", self.x(ht_time)  )
          .attr("x2", self.x(ht_time) )
          .attr("y1", self.height + 37 )
          .attr("y2", self.height + 43  )
          .attr("stroke","lightgrey")

        self.tooltip = d3.select("body")
          .append("div")
          .attr("class","tooltip")
          .style("position", "absolute")
		},

		update_chart() {
      var self = this;

			self.x.domain([0, d3.max(self._display_data, function(d){ return d.expanded_minute})]);
      self.team_color.domain(function(d){ return d.team_id });
			//self.y.domain(self._display_data.map(function(d){ return d.type.name; }));

      var type = "Pass"

      var binsA = d3.histogram()
        .domain(self.x.domain())
        .thresholds(self.x.ticks(d3.max(self._display_data, d => d.expanded_minute )))
      (self._display_data.filter(d => d.type.name === type && d.team_id == self.team_ids[0]).map(d => d.expanded_minute));

      var binsB = d3.histogram()
        .domain(self.x.domain())
        .thresholds(self.x.ticks(d3.max(self._display_data, d => d.expanded_minute )))
      (self._display_data.filter(d => d.type.name === type && d.team_id == self.team_ids[1]).map(d => d.expanded_minute));

      var types = ["SavedShot","MissedShots","ShotOnPost","Goal"]

      var shot_binsA = d3.histogram()
        .domain(self.x.domain())
        .thresholds(self.x.ticks(d3.max(self._display_data, d => d.expanded_minute )))
      (self._display_data.filter(d => types.indexOf(d.type.name) > -1 && d.team_id == self.team_ids[0]).map(d => d.expanded_minute));

      var shot_binsB = d3.histogram()
        .domain(self.x.domain())
        .thresholds(self.x.ticks(d3.max(self._display_data, d => d.expanded_minute )))
      (self._display_data.filter(d => types.indexOf(d.type.name) > -1 && d.team_id == self.team_ids[1]).map(d => d.expanded_minute));

      types = ["Goal"]

      var goals_binsA = d3.histogram()
        .domain(self.x.domain())
        .thresholds(self.x.ticks(d3.max(self._display_data, d => d.expanded_minute )))
      (self._display_data.filter(d => types.indexOf(d.type.name) > -1 && d.team_id == self.team_ids[0]).map(d => d.expanded_minute));

      var goals_binsB = d3.histogram()
        .domain(self.x.domain())
        .thresholds(self.x.ticks(d3.max(self._display_data, d => d.expanded_minute )))
      (self._display_data.filter(d => types.indexOf(d.type.name) > -1 && d.team_id == self.team_ids[1]).map(d => d.expanded_minute));

      var max = Math.max(d3.max(binsA, d => d.length),d3.max(binsB, d => d.length))
      self.y = d3.scaleLinear()
        .domain([0, max]).nice()
        .range([0, self.height/2,])


      var bar = self.g.append("g")
        .attr("fill", self.team_colors[0])
        .selectAll("rect")
        .data(binsA)
        .enter().append("rect")
        .attr("x", d => self.x(d.x0))
        .attr("width", d => self.x(d.x1) - self.x(d.x0))
        .attr("y", d=> self.height/2 - self.y(d.length))
        .attr("height", d => self.y(d.length))
        .on("mouseover", function(d){return self.tooltip.style("visibility", "visible").style("color", self.team_colors[0]).text(d.x0 + "' - " + d.length + " Passes")  })
        .on("mousemove", function(){ return self.tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
        .on("mouseout", function(){return self.tooltip.style("visibility", "hidden");})


      self.g.append("g")
        .attr("fill", self.team_colors[1])
        .selectAll("rect")
        .data(binsB)
        .enter().append("rect")
        .attr("x", d => self.x(d.x0))
        .attr("width", d => self.x(d.x1) - self.x(d.x0))
        .attr("y", self.height/2)
        .attr("height", d => self.y(d.length))
        .on("mouseover", function(d){ return self.tooltip.style("visibility", "visible").style("color", self.team_colors[1]).text(d.x0 + "' - " + d.length + " Passes")  })
        .on("mousemove", function(){ return self.tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
        .on("mouseout", function(){ return self.tooltip.style("visibility", "hidden");})



      shot_binsA.forEach( function(d ,i) {
        if (d.length > 0) {
          d.forEach( function(b,j) {
            var w = self.x(d.x1) - self.x(d.x0);
            var x = self.x(d.x0);
            var y = self.height/2 - self.y(binsA[i].length) - j * w - 0.5;

            self.g.append("path")
              .attr("d","M "+x+" " +y+ " l "+w/2+" -"+w+" l "+w/2+" "+w+" l -"+w+" 0")
              .attr("fill", self.team_colors[0])
              .on("mouseover", function(){ return self.tooltip.style("visibility", "visible").style("color", self.team_colors[0]).text(d.x0 + "' - " + d.length + " Shots")  })
              .on("mousemove", function(){ return self.tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
              .on("mouseout", function(){ return self.tooltip.style("visibility", "hidden");})
          })
        }
      })

      shot_binsB.forEach( function(d ,i) {
        if (d.length > 0) {
          d.forEach( function(b,j) {
            var w = self.x(d.x1) - self.x(d.x0);
            var x = self.x(d.x0);
            var y = self.height/2 + self.y(binsB[i].length) + j * w + .5;
            self.g.append("path")
              .attr("d","M "+x+" " +y+ " l "+w/2+" "+w+" l "+w/2+" -"+w+" l -"+w+" 0")
              .attr("fill", self.team_colors[1])
              .on("mouseover", function(){return self.tooltip.style("visibility", "visible").style("color", self.team_colors[1]).text(d.x0 + "' - " + d.length + " Shots")  })
              .on("mousemove", function(){ return self.tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
              .on("mouseout", function(){return self.tooltip.style("visibility", "hidden");})
            })
        }
      })

      goals_binsA.forEach( function(d ,i) {
        if (d.length > 0) {
          d.forEach( function(b,j) {
            var w = self.x(d.x1) - self.x(d.x0);
            var x = self.x(d.x0);
            var y = self.height/2
              - self.y(binsA[i].length)
              - self.y(shot_binsA[i].length)
              - j * w - 0.5;

            self.g.append("circle")
              .attr("cx", (x+w/2))
              .attr("cy", (y-w))
              .attr("r", 4)
              .attr("fill", self.team_colors[0])
          })
        }
      })

      goals_binsB.forEach( function(d ,i) {
        if (d.length > 0) {
          d.forEach( function(b,j) {
            var w = self.x(d.x1) - self.x(d.x0);
            var x = self.x(d.x0);
            var y = self.height/2
              + self.y(binsB[i].length)
              + self.y(shot_binsB[i].length)
              + j * w + .5;

            self.g.append("circle")
              .attr("cx", (x+w/2))
              .attr("cy", (y+w))
              .attr("r", 4)
              .attr("fill", self.team_colors[1])
            })
        }
      })


		}
	}
}

</script>

<style>
  text {font-size:11px;}
  .tooltip pre {padding:5px;}
  .legend{ fill:lightgrey}
</style>
