<template>
  <div class="">
    <div v-if="match_count > 0" >
      <p class="light">
        {{first_year}} -  {{last_year}} <br>
        {{match_count}} Matches <br></p>
    </div>
    <div class="chart"></div>
    <div class="columns is-mobile is-centered light" v-if="match_count > 0" >
      <div class="column has-text-right">
        {{home_won}}<br>
        {{total_home_score}}<br>
      </div>
      <div class="column">
        WINS <br>
        TOTAL SCORE <br>
        {{ remis}} DRAWS
      </div>
      <div class="column has-text-left">
         {{away_won}} <br>
          {{total_away_score}}<br>
      </div>
    </div>
</div>

</template>

<script>
import * as d3 from 'd3';
import d3Tip from 'd3-tip';
d3.tip = d3Tip;

import drawfield from '../drawing_helpers'

export default {
  name: 'HistoricalResults',

  props: {
    gamedata: Object,
    country: { default: "0", type: String },
    flip: { default: false, type: Boolean },
    color: { default: "black", type: String },
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [1,2] },
    team_id: { default: 0, type: Number },
  },

  data: function() {
    return {
      h:0,
      w:0,
      item_height: 20,
      home_code: "",
      away_code: "",
      total_home_score: 0,
      total_away_score: 0,
      match_count: 0,
      home_won: 0,
      remis: 0,
      away_won: 0,
      first_year:0,
      last_year:0,
      w_scale:2,
      no_data: false
    }
  },

  mounted() {
    var self = this;
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.clientWidth;
    this.h = this.$el.clientWidth * 44/105;
    if (document.documentElement.clientWidth < 768) {
      self.item_height = this.$el.clientWidth / 23;
      self.w_scale = 1;
    }

    window.addEventListener('resize', this.onResize);
    this.load_data();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      var self = this;
      this.w = this.$el.clientWidth;
      this.h = this.$el.clientWidth * 44/105;
      if (document.documentElement.clientWidth < 768) {
        self.item_height = this.$el.clientWidth / 23;
        self.w_scale = 1;
      } else
        this.w_scale = 2;

      this.svg.remove();
      //this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },


		updateSelection() {
			this.wrangle_data();
			this.update_chart();
		},

    load_data() {
      var self = this;

      self.home_code = self.gamedata.quick_info.home.abbreviation_name;
      self.away_code = self.gamedata.quick_info.away.abbreviation_name;
      self.home_team = self.gamedata.quick_info.home.name;
      self.away_team = self.gamedata.quick_info.away.name;


      var teams = [self.home_code, self.away_code].sort();
      var filename = teams[0] + "-" + teams[1] + ".csv"

      d3.csv("data/historical/" + filename).then( function(d) {
        self.match_count = d.length;
        d.forEach(function (d) {
          if (d.home_team == self.home_team) {
            d[self.home_team] = +d.home_score;
            d[self.away_team] = +d.away_score;
          } else {
            d[self.home_team] = +d.away_score;
            d[self.away_team] = +d.home_score;
          }
          self.total_home_score += +d[self.home_team];
          self.total_away_score += +d[self.away_team];
          if (d[self.home_team] > d[self.away_team]) {
            self.home_won += 1;
          } else if (d[self.home_team] <  d[self.away_team]) {
            self.away_won += 1;
          } else {
            self.remis += 1;
          }
        })


        if (!d[0].date)
          self.match_count = 0;
        else {
          self.first_year = d[0].date.slice(0,4);
          self.last_year = d[d.length-1].date.slice(0,4);
        }

        self._display_data = d;

        if (self._display_data[0]["<!DOCTYPE html>"] == "html" ||
          self._display_data[0]["<!DOCTYPE html>"] == "<html>"
        )
          self.no_data = true;
        else
          self.no_data = false;

        self.init_chart();
        self.update_chart();
      }).catch(function(e) {
        console.log(e);
      })

    },


    wrangle_data() {
				var self = this;
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 40, right: 20, bottom: 40, left:10};

        if (!self.no_data) {
          self.height = Math.max(0, self.item_height * self._display_data.length);
        } else {
          self.height = 200;
        }

        self.h = self.height + self.margin.top + self.margin.bottom;

        self.svg = d3.select(this.$el).select(".chart")
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;


				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(200); }

        if (self.flip) {
          self.x = d3.scaleLinear().range([self.width, 0]);
        } else {
				      self.x = d3.scaleLinear().range([0, self.width]);
        }
        self.y = d3.scaleLinear().range([self.height, 0]);

				self.x.domain(d3.extent(d=> d.year ));
				self.y.domain([0, 100]);

				self.legend = self.g.append("g")
					.attr("class","legend")

        self.team_ids.forEach( function(d, i) {
            if ((self.team_id === 0)  || (self.team_ids)) {
              var flip = i;

              self.legend
                .append("rect")
                .attr("x", function(d){ return flip !=0 ? self.width - 10 : 5 })
                .attr("y", -16 ) //function(d){ return self.flip !="0" ? self.height + 8 : - 16})
                .attr("width", 8)
                .attr("height", 8)
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("text")
                .attr("x", i > 0 ? self.width - 20 : 20 )
                .attr("y", -8 )
                .attr("text-anchor", i > 0 ? "end" : "start" )
                .text( i > 0 ? self.gamedata.quick_info.away.abbreviation_name : self.gamedata.quick_info.home.abbreviation_name  )
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("line")
                .attr("x2", function(d){ return flip !=0 ? self.width - 50 : 50; })
                .attr("y2", -12 ) //function(d){ return self.flip !="0" ? self.height + 12 : - 12 })
                .attr("x1", function(d){  return flip !=0 ? self.width - 20 - 50: 20 + 50 })
                .attr("y1", -12) //function(d){ return self.flip !="0" ? self.height + 12 : - 12})
                .attr("stroke", self.team_colors[i] )
                .attr("marker-end",  function(d){
                    return "url(#pmarrow_" + self.team_colors[i]; + ")"
                })
            }
        })

        self.tip = d3.tip().attr('class', 'tip')
					.html(function(d) {
						var text = "<div>"
						text += "<strong>" + d.date + "</strong> | " + d.tournament + " | ";
						text += "<span>" + d.city + ", " + d.country + " | </span>"
            text += "<span>" + d.home_team + " - " + d.away_team + " | </span>"
            text += "<span>" + d.home_score + " : " + d.away_score + "</span>"
            text += "</div>"
            return text;
          })
        self.tips = self.g.append("g")
				self.tips.call(self.tip);

			},

			update_chart() {
				var self = this;

        if ( self.match_count == 0) {
          var text =  "NO DATA"
          self.g.append("text")
            .attr("class","xEarth")
            .attr("x", self.width/2)
            .attr("y", 60)
            .attr("style","font-size:24px")
            .attr("text-anchor","middle")
            .text(text);

        } else {


          self._display_data.forEach( function (d, i) {

            var s = self.item_height;
            var w = d[self.home_team] * s * self.w_scale;

            d.x = self.width/2 - w
            d.y = s * i

            self.g.append("rect")
              .datum(d)
              .attr("x", self.width/2 - w )
              .attr("y", s * i)
              .attr("width", w)
              .attr("height", s)
              .attr("fill", d[self.home_team] > d[self.away_team] ? self.team_colors[0] : "lightgrey")
              .on("mouseover", self.tip.show)
						  .on("mouseout", self.tip.hide);

            self.g.append("text")
              .attr("x", self.width/2 - w - 5)
              .attr("y", s * i + 12)
              .attr("text-anchor","end")
              .text(d[self.home_team])

            w = d[self.away_team] * s * self.w_scale;

            self.g
              .append("rect")
              .datum(d)
              .attr("x", self.width/2 )
              .attr("y", s * i)
              .attr("width", w)
              .attr("height", s)
              .attr("fill", d[self.home_team] < d[self.away_team] ? self.team_colors[1] : "lightgrey")
              .on("mouseover", self.tip.show)
						  .on("mouseout", self.tip.hide);

            self.g.append("text")
              .attr("x", self.width/2 + w + 5)
              .attr("y", s * i + 12)
              .attr("text-anchor","start")
              .text(d[self.away_team])

            self.g.append("line")
              .attr("x1", self.width/2 )
              .attr("y1", -20 )
              .attr("x2", self.width/2 )
              .attr("y2", self.height + 20)
              .attr("stroke", "#999")
              .attr("stroke-width", 0.1);
          })
        }
			}
		}
	}

</script>

<style scoped>
    div {width:95%;  margin: auto;}
    .light {color:#999}
    .columns {}
    .column { font-size: 0.8em; color:#999}

</style>
