<template>
  <div>
    <div class="chart"></div>
    <div class="total">
      SQUAD'S TOTAL MARKET VALUE: <br>
      {{ total_value}} EUR <br>
      <br>

      {{ value2gdp }} x <br>
      GDP PER CAPITA  ({{ gdp_per_cap }} EUR)
    </div>
  </div>

</template>

<script>
import * as d3 from 'd3';
import drawfield from '../drawing_helpers'

export default {
  name: 'MarketValue',

  props: {
    gamedata: Object,
    country: { default: "0", type: String },
    flip: { default: false, type: Boolean },
    color: { default: "black", type: String },
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [1,2] },
    team_id: { default: 0, type: Number },
    gdp_cap: { default: 0, type: Number },
    pop: { default: 0, type: Number },
  },

  data: function() {
    return {
      h:0,
      w:0,
      total_value:0,
      value2gdp: 0,
      gdp_per_cap: "",
      nodes: null,
    }
  },

  mounted() {
    var self=this;
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.clientWidth;
    this.h = this.$el.clientWidth * 64/105;
    window.addEventListener('resize', this.onResize);
    this.load_data();
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onScroll() {
      var self = this;
      var y = this.$el.getBoundingClientRect().top;
      if (y < 640) {
        self.init_chart();
        self.update_chart();
        window.removeEventListener('scroll', this.onScroll);
      }
    },

    onResize() {
      this.w = this.$el.clientWidth;
      this.h = this.$el.clientWidth * 64/105;
      this.svg.remove();
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },

    load_data() {
      var self = this;
      var total = 0;

      d3.csv("data/values/"+self.country+".csv").then( function(d) {
        self._display_data = d;
        self.total_value = 0
        self._display_data.forEach( function(d) {
          d.value = +d.value;
          d.x = 0;
          d.y = 0;
          total += +d.value;
        })

        self.nodes =self._display_data;
        self.total_value = d3.format(".0~s")(total).replace("G","B")
        self.gdp_per_cap = d3.format(".0~s")(self.gdp_cap * 0.85)
        self.value2gdp = d3.format(".0f")(total / (self.gdp_cap * 0.85))

        self.wrangle_data();
        var y = self.$el.getBoundingClientRect().top;
        if (y < 500) {
          self.init_chart();
          self.update_chart();
        } else {
            window.addEventListener('scroll', self.onScroll);
        }

      }).catch(function(e) {
        console.log(e);
      })

    },

    wrangle_data() {
				var self = this;
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 20, right: 20, bottom: 60, left:20};
        self.svg = d3.select(this.$el).select(".chart")
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(200); }

        self.x = d3.scaleLinear().range([0, self.width]);
        self.y = d3.scaleLinear().range([0, self.height]);
        self.r = d3.scaleSqrt().range([2, self.width/12]);

				self.x.domain([0, self.width]);
				self.y.domain([0, self.height]);

        self.tooltip = d3.select("body")
          .append("div")
          .attr("class","tooltip")

				self.legend = self.g.append("g")
					.attr("class","legend")

        self.team_ids.forEach( function(d,i) {
            if ((self.team_id === 0)  || (self.team_id && self.team_id == d)) {
              self.legend
                .append("rect")
                .attr("x", function(d){ return self.flip ? self.width - 10 : 5 })
                .attr("y", -16) //function(d){ return self.flip !="0" ? self.height + 8 : - 16})
                .attr("width", 8)
                .attr("height", 8)
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("text")
                .attr("x", self.flip ? self.width - 20 : 20 )
                .attr("y", -8 )
                .attr("text-anchor", self.flip ? "end" : "start" )
                .text( i > 0 ? self.gamedata.quick_info.away.abbreviation_name : self.gamedata.quick_info.home.abbreviation_name  )
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("line")
                .attr("x1", function(d){ return self.flip ? self.width - 50 : 50; })
                .attr("y1",  -12)
                .attr("x2", function(d){  return self.flip ? self.width - 70: 70 })
                .attr("y2", -12 )
                .attr("stroke", self.team_colors[i] )
                .attr("marker-end",  function(d){
                    return "url(#pmarrow_" + self.team_colors[i]; + ")"
                })
            }
        })

			},

			update_chart() {
				var self = this;

//        self.r.domain(d3.extent(self.nodes, function(d) { return d.value; }))
        self.r.domain([0,180000000])


        if (self.playerNodes) {
          self.playerNodes.remove();
        }

        self.nodes.forEach( function(d) {
            d.y = self.y(d.y);
            d.x = self.x(d.x);
        })


        var simulation = d3.forceSimulation()
          .nodes(self.nodes)
          .force("center", d3.forceCenter( self.width/2, self.height / 2 ))
          //.force("charge", d3.forceManyBody())
          .force("collide", d3.forceCollide().radius(function(d) { return self.r(d.value) + 2}))
          .force("y", d3.forceY( function(d) { return(self.height/2) }))
          .force("x", d3.forceX( function(d) { return(self.width/2) }))

        self.playerNodes = self.g
          .append("g")
          .attr("class", "nodes")
          .selectAll("circle")
          .data(self.nodes)
          .enter()
          .append("circle")
          .attr("class", "enter")
          .attr("cx", function(d){ return self.x(d.x) })
          .attr("cy", function(d){ return self.y(d.y) })
          .attr("r", function(d){ return self.r(d.value) })
          .attr("stroke", function(d){
            return self.team_colors[self.team_ids.indexOf(d.team_id)];
          })
          .attr("style", "opacity:1")
          .attr("fill", function(d){
            return self.team_colors[self.flip ? 1 : 0];
          })
          .on("mouseover", function(d){return self.tooltip.style("visibility", "visible").text(d.player + ": " + d3.format(".0~s")(d.value) + " EUR")  })
          .on("mousemove", function(){ return self.tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
          .on("mouseout", function(){return self.tooltip.style("visibility", "hidden");})


        simulation
          .on("tick", function () {
           self.playerNodes
            .attr("cx", function(d) { return (d.x) })
            .attr("cy", function(d) { return (d.y) });
          })
          .on("end", function() {
            console.log("nodes complete!");
          });


        var current=self._display_data[self._display_data.length-1].value;

        if ( typeof current == "undefined" ) {
          text =  "NO DATA"
          self.g.append("text")
            .attr("class","xEarth")
            .attr("x", self.width/2)
            .attr("y", 60)
            .attr("style","font-size:24px")
            .attr("text-anchor","middle")
            .text(text)
        }
			}
		}
	}

</script>

<style scoped>
    div {width:100%;padding:0;margin:0}
    .total { font-size: 0.8em; color:#999}
    .axis text {font-size: 9px}
    @media (min-width: 1024px) {
       /*.axisLeft .tick { display: none} */
      }
</style>
