<template>
  <div class="list">
    <h1 class="title">Not Found</h1>

    <div class="spacer"></div>

    <div> Sorry, your pass did not find a recipient..
    </div>
  </div>
</template>


<script>

export default {
  name: 'NotFound'
}
</script>
