<template>
  <div class="passgraph">

    <div class="select is-light">
      <select id="team_options" @change="updateSelection" v-model="team_selection">
      <option v-for="(value, index) in team_options" :value="index" v-text="value"></option>
      </select>
    </div>

    <div class="select is-light">
      <select id="period_options" @change="updateSelection" v-model="period">
      <option v-for="(value, label) in period_options" :value="value.value" v-text="value.label"></option>
      </select>
    </div>
    <div class="chart"> </div>
    <div class="source">
      Based on successful pass distribution.
    </div>
  </div>

</template>

<script>
import * as d3 from 'd3';
import d3Tip from 'd3-tip';
import drawfield from '../drawing_helpers'


export default {
  name: 'PassGraph',

  props: {
    gamedata: Object,
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [1,2] }
  },

  data: function() {
    return {
      h:0,
      w:0,
      dataLoaded:false,
      period: "FullTime",
      period_options: [
        { value: "FullTime", label: "Full Time" },
        { value: "FirstHalf", label: "First Half" },
        { value: "SecondHalf", label: "Second Half" },
        { value: "Dynamic", label: "Dynamic" },
      ],
      team_selection: 0,
      team_options: ["Both Teams", "Home", "Away"],
      time_range: 30,
      timer: -15,
    }
  },

  mounted() {
    var self = this;
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.offsetWidth;
    this.h = this.$el.offsetWidth * 64/105;
    window.addEventListener('resize', this.onResize);

    self.init_data();
    self.wrangle_data();
    this.init_chart();

    var y = self.$el.getBoundingClientRect().top;
    if (y < 500) {
      self.update_chart();
    } else {
        window.addEventListener('scroll', self.onScroll);
    }
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
    window.removeEventListener('scroll', this.onScroll);

  },

  created() {
    console.log(this.$options._componentTag + " created");
    /*
    this.$on('data_loaded', function () {
      console.log(this.$options._componentTag + " data loaded");
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    });*/
  },

  methods: {

    onResize() {
      this.w = this.$el.offsetWidth;
      this.h = this.$el.offsetWidth * 64/105;
      this.svg.remove()
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },


    onScroll() {
      var self = this;
      var y = self.$el.getBoundingClientRect().top;
      if (y < 500) {
        this.wrangle_data();
        self.update_chart();
        window.removeEventListener('scroll', this.onScroll);
      }
    },


    updateSelection() {
      var self = this;
      console.log("selection changed");
      this.wrangle_data();
      this.update_chart();

      if (self.period === "Dynamic") {
        self.running = true
        setTimeout( function(){ self.playStep() }, 500)
      } else {
        self.running = false;
      }
    },

    playStep() {

      var self = this;
      self.timer += 0.5;
      if ( self.timer + self.time_range > self.gamedata.details.expanded_max_minute) {
        self.timer = 0;
      }

      self.wrangle_data();
      self.update_chart();
      if (self.running)
        setTimeout( function(){ self.playStep() }, 200)
    },

    init_data() {
      var self = this;
      var actions = self.gamedata.actions;

      self.team_options = [ "Both Teams", self.gamedata.details.home.name, self.gamedata.details.away.name];

      if (actions.filter(d => d.period.name == "FirstPeriodOfExtraTime").length > 0) {
          self.period_options.pop()
          self.period_options.push( { value: "ExtraTime", label: "Extra Time" } )
          self.period_options.push( { value: "Dynamic", label: "Dynamic" } )
      }
    },

    wrangle_data() {
      var self = this;

      var actions = self.gamedata.actions;
      var max_time = d3.max(actions, function(d){ return d.time});

      if (self.period == "FirstHalf" || self.period == "SecondHalf") {
        actions = actions.filter(d => d.period.name == self.period);
      } else if (self.period === "Dynamic") {
        actions = actions.filter(d => d.time > self.timer && d.time <= self.timer + self.time_range);
      } else if (self.period === "ExtraTime") {
        actions = actions.filter(d => d.period.name == "SecondPeriodOfExtraTime" || d.period.name == "FirstPeriodOfExtraTime");
      }

      if (self.team_selection != 0)
        actions = actions.filter(d => d.team_id == self.team_ids[self.team_selection-1]);

      //actions = self._mydata.actions.filter(d => d.team_id == 8)

      // get players and pass data from actions
      // average player positions when passing
      // count passes per player
      // these are our nodes

      self.nodes = d3.nest()
        .key(function(d){
            return d.player_id;
        })
        .entries(
          actions.filter(function(d) {
            return d.is_touch && d.type.name == "Pass" && d.outcome_type.value > 0
            //return d.type.name == "Pass"
          })
        ).map(function(player){
          return {
            id: player.key,
            name: self.gamedata.players[player.key],
            x: (player.values.reduce( function(accumulator, current){
                return accumulator + current.start_x
              }, 0) / player.values.length),
            y: (player.values.reduce( function(accumulator, current){
                return accumulator + current.start_y
              }, 0) / player.values.length),
            count: player.values.filter(d=>d.type.name == "Pass").length,
            group: player.values[0].team_id,
            team_id: player.values[0].team_id
          }
        });

      // now get pass data

      // now prepare passes as links
      // first go through all Pass actions filter out successful passes

      // and find its receiver
      self.passes = [];

      for (var i=1; i < actions.length; i++) {
        var d = actions[i];

        if (d.type.name === "Pass" && d.outcome_type.value > 0 ) {

          var next = actions[i+1];

          if ( next != undefined) {
            if (next.player_id === "undefined" || (next.team_id != d.team_id && d.player_id != next.player_id)) {
              if ( actions[i+2] != undefined) {
                if (next.player_id != "undefined"
                  && actions[i+2].team_id == d.team_id
                  && d.player_id != actions[i+2].player_id
                  && actions[i+2].is_touch
                  && actions[i+2].outcome_type.value > 0
                  && (self.nodes.filter(p=>p.id == actions[i+2].player_id).length > 0) ) {
                    self.passes.push( {
                      "source": ""+d.player_id,
                      "target": ""+actions[i+2].player_id,
                      "team_id": d.team_id
                  } )
                }
              }
            } else {

              if (next.is_touch && (self.nodes.filter(p=>p.id == next.player_id).length > 0))
                self.passes.push( {
                  "source": ""+d.player_id,
                  "target":""+next.player_id,
                  "team_id": d.team_id
                } )
            }
          }
        }
      }

      // resort all passes
      self.passes = self.passes.sort(function(a, b) {
        return d3.descending(a.source, b.source);
      })

      // nest by player
      var nestedpasses = d3.nest()
        .key(function(d) { return d.source; })
        .key(function(d) { return d.target; })
        .rollup(function(leaves) { return leaves.length; })
        .entries(self.passes);

      // now prepare link data;
      self.links = []
      nestedpasses.forEach( function (player1) {
          if (player1.id == 10570) console.log(player1);
        player1.values.forEach( function (player2) {
          if (player2.id == 10570) console.log(player2);
          if (player2.key != "undefined" && player2.key != 0)
            self.links.push({
              source: player1.key,
              target: player2.key,
              value: player2.value,
              team_id: self.nodes.find(player => player.id === (""+player1.key+"")).team_id
            })
        })
      });
    },


    init_chart: function() {
      var self = this;

      self.margin = {top: 30, right: 20, bottom: 20, left: 20};
      self.svg = d3.select(this.$el).select(".chart")
        .append('svg')
        .attr('width', self.w)
        .attr('height', self.h)

      self.width = self.w - self.margin.left - self.margin.right;
      self.height = self.h - self.margin.top - self.margin.bottom;

      self.defs = self.svg.append("defs");
      self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

      self.t = () => { return d3.transition().duration(1000); }

      self.x = d3.scaleLinear().range([0, self.width]);
      self.y = d3.scaleLinear().range([0, self.height]);
      self.c = d3.scaleOrdinal(d3.schemePaired);
      self.r = d3.scaleLinear().range([2, self.width/45]);
      self.thickness = d3.scalePow().range([0, self.width/90]);
      self.team_color = d3.scaleOrdinal(["blue","orange"]);
      self.binary = d3.scaleOrdinal().range([-1,1]);

      self.x.domain([0, 100]);
      self.y.domain([0, 100]);

      self.legend = self.g.append("g")
        .attr("class","legend")

      drawfield(self.legend, self.width, self.height)

      self.team_ids.forEach( function(d, i) {
          if ((self.team_id === 0)  || (self.team_ids)) {
            if (!self.team_id)
              self.flip = i;

            self.legend
              .append("rect")
              .attr("x", function(d){ return self.flip !="0" ? self.width - 10 : 5 })
              .attr("y", -16 ) //function(d){ return self.flip !="0" ? self.height + 8 : - 16})
              .attr("width", 8)
              .attr("height", 8)
              .attr("fill", self.team_colors[i] )

            self.legend
              .append("text")
              .attr("x", function(d){ return self.flip !=0 ? self.width - 20 : 20; })
              .attr("y", -8 )
              .attr("text-anchor", function(d){ return self.flip !=0 ? "end" : "start" })
              .text(function(d){ return self.flip !=0 ? self.gamedata.quick_info.away.abbreviation_name : self.gamedata.quick_info.home.abbreviation_name } )
              .attr("fill", self.team_colors[i] )

            self.legend
              .append("line")
              .attr("x1", function(d){ return self.flip !="0" ? self.width - 50 : 50; })
              .attr("y1", -12 )
              .attr("x2", function(d){  return self.flip !="0" ? self.width - 20 - 50: 20 + 50 })
              .attr("y2", -12) //function(d){ return self.flip !="0" ? self.height + 12 : - 12})
              .attr("stroke", self.team_colors[i] )
              .attr("marker-end",  function(d){
                  return "url(#pmarrow_" + self.team_colors[i]; + ")"
              })
          }
      })

      self.clock = self.legend
        .append("text")
        .attr("class","clock")
        .attr("text-anchor","middle")
        .attr("x", self.width/2)
        .attr("y", -8)
        .text("")

      self.copy = self.g.append("g")
        .attr("class","copyright")
        .append("text")
        .attr("x", self.width - 10)
        .attr("y", self.height + 10)
        .attr("fill","lightgrey")
        .attr("text-anchor","end")
        .attr("style","font-size:0.7em")
        .text("© 2018, fooviz.xyz")

      self.team_colors.push("red")
      self.defs.selectAll("marker")
        .data(self.team_colors)
        .enter()
        .append("marker")
        .attr("id", d => "arrowhead_" + d)
        .attr("refX", 6) /*must be smarter way to calculate shift*/
        .attr("refY", 2)
        .attr("markerWidth", 4)
        .attr("markerHeight", 4)
        .attr("orient", "auto")
        .append("path")
        .attr("d", "M 0,0 V 4 L4,2 Z")
        .attr("fill", d => d)
    },

    update_chart() {
      var self = this;

      if (self.passLinks) {
        self.passLinks.remove();
      }

      if (self.playerNodes)
        self.playerNodes.remove();

      if (self.tooltip) {
        self.tooltip.remove();
      }

      self.tooltip = d3.select("body")
        .append("div")
        .attr("class","tooltip")

      self.r.domain(d3.extent(self.nodes, function(d) { return d.count; }))
      self.thickness.domain([0, d3.max(self.links, function(d) { return d.value; })])

      self.nodes.forEach( function(d) {
        if (self.team_ids.indexOf(d.team_id) >  0) {
          d.x = self.width - self.x(d.x);
            d.y = self.y(d.y);
        } else {
          d.x = self.x(d.x);
          d.y = self.height - self.y(d.y);
        }

      })

      var simulation = d3.forceSimulation()
        .nodes(self.nodes)
        .force("link", d3.forceLink(self.links).id(function(d) { return d.id; }).strength(0.001))
        .force("center", d3.forceCenter( self.width/2, self.height / 2 ))
        //.force("charge", d3.forceManyBody())
        .force("collide", d3.forceCollide().radius(function(d) { return self.r(d.count)+15}))
        .force("y", d3.forceY( function(d) { return(d.y) }))
        .force("x", d3.forceX( function(d) { return(d.x) }))



      self.passLinks = self.g
        .append("g")
        .attr("class", "links")
        .selectAll("path")
        .data(self.links)
        .enter()
          .append("path")
          .attr("stroke-width", 1)
          .attr("stroke", function(d){
            return self.team_colors[self.team_ids.indexOf(d.team_id)];
          })
          .attr("fill","none")

      self.playerNodes = self.g
        .append("g")
        .attr("class", "nodes")
        .selectAll("circle")
        .data(self.nodes)
        .enter()
        .append("circle")
        .attr("class", "enter")
        .attr("cx", function(d){ return self.x(d.x) })
        .attr("cy", function(d){ return self.y(d.y) })
        .attr("r", function(d){ return self.r(d.count) })
        .attr("stroke", function(d){
          return self.team_colors[self.team_ids.indexOf(d.team_id)];
        })
        .attr("style", "opacity:1")
        .attr("fill", "white")
        .on("mouseover", function(d){return self.tooltip.style("visibility", "visible").html(
            "<strong>" + d.name + "</strong> | " + d.count + " successful passes") })
        .on("mousemove", function(){ return self.tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
        .on("mouseout", function(){return self.tooltip.style("visibility", "hidden");})
        .call(d3.drag()
          .on("start", dragstarted)
          .on("drag", dragged)
          .on("end", dragended));

      simulation
        .on("tick", function () {
          if (self.period == "Dynamic") { simulation.stop()}
         self.playerNodes
          .attr("cx", function(d) { return (d.x) })
          .attr("cy", function(d) { return (d.y) });
         self.passLinks
          .attr("d", linkArc)
          .attr("stroke-width", function(d) { return self.thickness(d.value) })
          //.attr("marker-end",  d => "url(#arrowhead_" + self.team_color(d.team_id) + ")"),

         /*
          .attr("x1", function(d) { return (d.source.x)})
          .attr("y1", function(d) { return (d.source.y) })
          .attr("x2", function(d) { return (d.target.x) })
          .attr("y2", function(d) { return (d.target.y) })
          .attr("stroke-width", function(d) { return self.thickness(d.value) })
          .attr("stroke", function(d){
            return self.team_color(d.source.group)
          })						*/
        })
        .on("end", function() {
        console.log("nodes complete!");
        });

      if (self.period == "Dynamic") {
        simulation.tick();
        self.clock.text(d3.format("02.0f")(Math.max(0,self.timer)) + "' - " + d3.format("02.0f")(self.timer + self.time_range) + "'")
      }

      function dragstarted(d) {
        if (!d3.event.active) simulation.alphaTarget(0.3).restart();
        d.fx = d.x;
        d.fy = d.y;
      }

      function dragged(d) {
        d.fx = d3.event.x;
        d.fy = d3.event.y;
      }

      function dragended(d) {
        if (!d3.event.active) simulation.alphaTarget(0);
        d.fx = null;
        d.fy = null;
      }


      function linkArc(d) {
        var dx = d.target.x - d.source.x,
          dy = d.target.y - d.source.y,
          dr = Math.sqrt(dx * dx + dy * dy);
          dr =  0;
        return "M" + d.source.x + "," + d.source.y + "A" + dr + "," + dr + " 0 0,1 " + d.target.x + "," + d.target.y;
      }

    }
  }

}
</script>

<style scoped>
    .passgraph {width:85%;  margin: auto;}
    @media (max-width: 1024px) { .passgraph {width:100%} }
</style>
