<template>
  <div class="eventmap">
    <!--<span class="subsubtitle">{{ count_home }}  &nbsp;&nbsp;&nbsp; TOUCHES &nbsp;&nbsp;&nbsp; {{ count_away }}</span>-->
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  name: 'PossessionHist',

  props: {
    gamedata: Object,
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [] }
  },

  data: function() {
    return {
      h:0,
      w:0,
      count_home:0,
      count_away:0,
    }
  },

  mounted() {
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.offsetWidth;
    this.h = 70;
    window.addEventListener('resize', this.onResize);
    this.wrangle_data();
    this.init_chart();
    this.update_chart();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      this.w = this.$el.clientWidth;
      this.svg.remove()
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },

    wrangle_data() {
				var self = this;
        self.types = [];

        self.gamedata.actions.forEach( function(d, i) {
          if (self.types.indexOf(d.type.name) == -1)
            self.types.push(d.type.name);
            d.second = +d.second;
            if (isNaN(d.second)) d.second = 0;
            d.time = +d.expanded_minute + (+d.second / 60);
            if (d.is_touch) {
              if (d.team_id == self.team_ids[0]) {
                self.count_home += 1;
              }  else {
                self.count_away += 1;
              }
            }
        })
        self._display_data = self.gamedata.actions.filter(d => d.is_touch);
        self.total = self.count_home + self.count_away;
		},

		updateSelection() {
			this.wrangle_data();
			this.update_chart();
		},

		init_chart: function() {
			var self = this;

      self.margin = {top: 10, right: 25, bottom: 20, left: 25};
      self.svg = d3.select(this.$el)
        .append('svg')
        .attr('width', self.w)
        .attr('height', self.h)

      self.width = self.w - self.margin.left - self.margin.right;
      self.height = self.h - self.margin.top - self.margin.bottom;

			self.defs = self.svg.append("defs");
			self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
			self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
			self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

      self.t = () => { return d3.transition().duration(1000); }

			self.x = d3.scaleLinear().range([0, self.width]);
			self.c = d3.scaleOrdinal(d3.schemePaired);
			self.team_color = d3.scaleOrdinal(["blue","orange"]);
			self.binary = d3.scaleOrdinal().range([-1,1]);

			self.x.domain([0, d3.max(self._display_data, function(d){ return d.time})]);

      self.legend = self.g.append("g").attr("class","legend")

      self.legend
        .append("text")
        .attr("x", self.width / 2 )
        .attr("y", self.height + 20)
        .attr("text-anchor","middle")
        .text(" Touches ")
      self.legend
        .append("text")
        .attr("x", self.width / 2 - 40)
        .attr("y", self.height + 20)
        .attr("text-anchor","end")
        .text(d3.format("0.0%")(self.count_home / self.total))
      self.legend
        .append("text")
        .attr("x", self.width / 2 + 40)
        .attr("y", self.height + 20)
        .attr("text-anchor","start")
        .text(d3.format("0.0%")(self.count_away / self.total))
		},

		update_chart() {
      var self = this;

			self.x.domain([0, d3.max(self._display_data, function(d){ return d.time})]);
      self.team_color.domain(function(d){ return d.team_id });

			self.events = self.g
        .attr("class","possession")
				.selectAll("line")
				.data(self._display_data)

			self.events.exit()
				.attr("class", "exit")
				.transition(self.t())
				.remove();

			self.events.attr("class", "update")
				.transition(self.t())

			self.events.enter()
				.append("line")
				.attr("class", "enter")
        .attr("x1", function(d){ return self.x(d.time) })
				.attr("y1", function(d){ return d.team_id == self.team_ids[0] ? self.height/2 -self.height/2 : self.height/2 + self.height/2   })
				.attr("x2", function(d){ return self.x(d.time) })
        .attr("y2", function(d){ return self.height/2 })
				.attr("stroke", function(d){
					if (d.outcome_type.value != 0)
						return self.team_colors[self.team_ids.indexOf(d.team_id)];
				})
		}
	}
}

</script>

<style>
  text {font-size:11px;}
  .tooltip pre {padding:5px;}
  .possession line {stroke-width:1.5}
</style>
