<template>
  <div>
        <!--
    <svg width="200" height="200">

        <path d="M100,75 a1,1 0 1,0 0,50" v-bind:fill="home_color" />
        <path d="M100,50 a1,1 0 0,1 0,100" v-bind:fill="away_color" />


        <rect x="50" y="50" width="50" height="100" />
        <rect x="100" y="70" width="30" height="60" />

        <text x="90" y="100" fill="white" text-anchor="middle">1</text>
        <text x="100" y="100" fill="white" text-anchor="middle">:</text>
        <text x="110" y="100" fill="white" text-anchor="middle">2</text>

    </svg>
    -->
  </div>
</template>

<script>
import * as d3 from 'd3';

export default {
  name: 'PossessionHist',

  props: {
    gamedata: Object,
    team_colors: { type: Array, default: ["black","black"] },
    score:  { type: String, default: "" },
    penalty_score:  { type: String, default: "0" },

  },

  data: function() {
    return {
      h:0,
      w:0,
      count_home:0,
      count_away:0,
    }
  },

  mounted() {
    console.log(this.$options._componentTag + " mounted");
    this.w = 200;
    this.h = 200;
    this.wrangle_data();
    this.init_chart();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      this.w = this.$el.clientWidth;
      this.h = this.$el.clientWidth / 10;
    },

    wrangle_data() {
        var self = this;

        self.home_score = +self.score.split(":")[0]
        self.away_score = +self.score.split(":")[1]

        if (self.penalty_score != 0) {
          self.home_pen_score = +self.penalty_score.split(":")[0]
          self.away_pen_score = +self.penalty_score.split(":")[1]
        }
		},


		init_chart: function() {
      var self = this;
        self.margin = {top: 0, right: 0, bottom: 0, left: 0};
        self.svg = d3.select(this.$el)
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

  			self.defs = self.svg.append("defs");
  			self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
  			self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
  			self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

        var area = d3.scaleLinear()
            .range([200*Math.PI, 14000*Math.PI])
            .domain([0, 12]);

        var r1 = Math.sqrt(area(self.home_score) / Math.PI ) / 2;
        var r2 = Math.sqrt(area(self.away_score) / Math.PI ) / 2;


        //var r1 = self.home_score * 10 //Math.sqrt(area(self.home_score) / Math.PI ) / 2;
        //var r2 = self.away_score * 10 //Math.sqrt(area(self.away_score) / Math.PI ) / 2;


        self.g.append("path")
          //.attr( "d", "M" +self.width/2 + ",75 a1,1 0 1,0 0,50")
          .attr( "d", "M" +self.width/2 + ","+ (self.height/2 - r1) +" a1,1 0 1,0 0," + 2* r1)
          .attr("fill", +self.home_score > 0 ? self.team_colors[0] : "none")
          //.attr("stroke", self.team_colors[0])
          .attr("stroke", "lightgrey")

        self.g.append("path")
          .attr( "d", "M" +self.width/2 + ","+ (self.height/2 - r2) +" a1,1 0 0,1 0," + 2* r2)
          .attr("fill", +self.away_score > 0 ? self.team_colors[1 ] : "none")
          .attr("stroke", "lightgrey")
          //.attr("stroke", self.team_colors[1])

        self.g.append("text")
          .attr("x", self.width / 2 - 5)
          .attr("y", self.height - 5)
          .attr("text-anchor", "end")
          .attr("fill", "black")
          .attr("style", "font-size:15px")
          .text(self.home_score)

        self.g.append("text")
          .attr("x", self.width / 2 + 5)
          .attr("y", self.height -5 )
          .attr("text-anchor", "start")
          .attr("fill", "black")
          .attr("style", "font-size:15px")
          .text(self.away_score)

        if (self.penalty_score != 0) {
          self.g.append("text")
            .attr("x", self.width / 2 - 5)
            .attr("y", self.height - 25)
            .attr("text-anchor", "end")
            .attr("fill", "lightgrey")
            .attr("style", "font-size:15px")
            .text(self.home_pen_score)

          self.g.append("text")
            .attr("x", self.width / 2 + 5)
            .attr("y", self.height - 25 )
            .attr("text-anchor", "start")
            .attr("fill", "lightgrey")
            .attr("style", "font-size:15px")
            .text(self.away_pen_score)
        }


        self.g.append("line")
          .attr("x1", self.width / 2)
          .attr("y1", 0)
          .attr("x2", self.width / 2)
          .attr("y2", self.height)
          .attr("stroke", "lightgrey")
		},

		update_chart() {
    }
	}
}

</script>

<style>

</style>
