
<template>

<md-button class="md-icon-button share" :href="link" title="Share this on twittr" target="_blank">
    <md-icon>
      <svg width="32" height="32" viewBox="-2 -2 32 32">
      <path d="M 21.3 10.5 v 0.5 c 0 4.7 -3.5 10.1 -9.9 10.1 c -2 0 -3.8 -0.6 -5.3 -1.6 c 0.3 0 0.6 0.1 0.8 0.1 c 1.6 0 3.1 -0.6 4.3 -1.5 c -1.5 0 -2.8 -1 -3.3 -2.4 c 0.2 0 0.4 0.1 0.7 0.1 l 0.9 -0.1 c -1.6 -0.3 -2.8 -1.8 -2.8 -3.5 c 0.5 0.3 1 0.4 1.6 0.4 c -0.9 -0.6 -1.6 -1.7 -1.6 -2.9 c 0 -0.6 0.2 -1.3 0.5 -1.8 c 1.7 2.1 4.3 3.6 7.2 3.7 c -0.1 -0.3 -0.1 -0.5 -0.1 -0.8 c 0 -2 1.6 -3.5 3.5 -3.5 c 1 0 1.9 0.4 2.5 1.1 c 0.8 -0.1 1.5 -0.4 2.2 -0.8 c -0.3 0.8 -0.8 1.5 -1.5 1.9 c 0.7 -0.1 1.4 -0.3 2 -0.5 c -0.4 0.4 -1 1 -1.7 1.5 Z" fill="lightgrey" />
      </svg>
    </md-icon>

  </md-button>

</div>
</template>

<script>
export default {
  name: 'ShareFacebook',
  props: {
    text: {
      type: String,
      default: document.title,
    },
    url: {
      type: String,
      default: window.location.href,
    },
    hash: {
      type: String,
      default: "",
    },
  },
  data () {
    return {
      link: " ",
    }
  },
  created() {
    this.link = "https://twitter.com/intent/tweet?text=" + encodeURIComponent(this.text) + "&url=" + encodeURIComponent(this.url);
    if (this.hash && !window.location.hash)
      this.link += this.hash;
  },


}
</script>

<style scoped>

</style>
