<template>

<md-button class="md-icon-button share" :href="link" title="Share this on Facebook" target="_blank">
  <md-icon>
    <svg width="32" height="32" viewBox="-2 -2 32 32">
    <path d="M17.9 14h-3v8H12v-8h-2v-2.9h2V8.7C12 6.8 13.1 5 16 5c1.2 0 2 .1 2 .1v3h-1.8c-1 0-1.2.5-1.2 1.3v1.8h3l-.1 2.8z"
      fill="lightgrey" />
    </svg>
  </md-icon>
</md-button>

</template>

<script>
export default {
  name: 'ShareFacebook',
  props: {
    text: {
      type: String,
      default: document.title,
    },
    url: {
      type: String,
      default: window.location.href,
    },
    hash: {
      type: String,
      default: "",
    },
  },
  data () {
    return {
      link: "",
    }
  },
  created() {
    this.link = "https://www.facebook.com/share.php?s=100&"

        +  "p[url]=" + this.url;

        //+  "&p[title]=" + encodeURIComponent(this.text)
        //+  "&p[summary]=" + encodeURIComponent(this.text)
          //  "&p[images][]=" + this.text
    if (this.hash && !window.location.hash)
      this.link += this.hash;
  },


}
</script>

<style scoped>
</style>
