<template>
  <div class="shotmap">

  </div>
</template>

<script>
import * as d3 from 'd3';
import drawfield from '../drawing_helpers'

export default {
  name: 'ShotMap',

  props: {
    gamedata: Object,
    team_id: { default: "0", type: String },
    team: { default: "0", type: String },
    flip: { default: "0", type: String },
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [1,2] }
  },

  data: function() {
    return {
      h:0,
      w:0,
    }
  },

  mounted() {
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.offsetWidth;
    this.h = this.$el.offsetWidth * 68/105;
    window.addEventListener('resize', this.onResize);
    this.wrangle_data();
    this.init_chart();
    this.update_chart();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      this.w = this.$el.clientWidth;
      this.h = this.$el.clientWidth * 68/105;
      this.svg.remove();
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },

    wrangle_data() {
				var self = this;

        var types = ["SavedShot","MissedShots","ShotOnPost","Goal"]

        self._display_data = self.gamedata.actions.filter(
                d => types.indexOf(d.type.name) > -1
                && !d.hasOwnProperty("OwnGoal")
                && !d.hasOwnProperty("Penalty") )

        self._display_data.forEach( function(d) {
            d.qualifiers.forEach( function(x) {
              d[x.type] = x.value;
            });
            d.GoalMouthY = +d.GoalMouthY;
            d.GoalMouthZ = +d.GoalMouthZ;
            d.BlockedX = +d.BlockedX;
            d.BlockedY = +d.BlockedY;
            d.Blocked = isNaN(d.GoalMouthY);
        });

      },

			updateSelection() {
				this.wrangle_data();
				this.update_chart();
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 10, right: 10, bottom: 10, left: 10};
        self.svg = d3.select(this.$el)
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(1000); }

				self.x = d3.scaleLinear().range([0, self.width]);
				self.y = d3.scaleLinear().range([0, self.height]);
				self.c = d3.scaleOrdinal(d3.schemePaired);
				self.team_color = d3.scaleOrdinal(self.team_colors);
				self.binary = d3.scaleOrdinal().range([-1,1]);

				self.x.domain([0, 100]);
				self.y.domain([0, 100]);


				self.team_colors.push("red")
				self.defs.selectAll("marker")
					.data(self.team_colors)
					.enter()
					.append("marker")
					.attr("id", d => "pmarrow_" + d)
					.attr("refX", 4) /*must be smarter way to calculate shift*/
					.attr("refY", 2)
					.attr("markerWidth", 4)
					.attr("markerHeight", 4)
					.attr("orient", "auto")
					.append("path")
					.attr("d", "M 0,0 V 4 L4,2 Z")
					.attr("fill", d => d);

        var element = self.g.append("g")
          .attr("class","field")
          .attr("stroke","lightgrey")
          .attr("fill","none")

        element
          .append("rect")
            .attr("x", self.width/2)
            .attr("y", (self.height/2 - (self.width/ (105/20.16))))
            .attr("width",(self.width/ (105/16.5)))
            .attr("height", (self.width/ (105/40.32)))

        element
          .append("rect")
            .attr("x", self.width/2 - (self.width/(105/16.5)))
            .attr("y", (self.height/2 - (self.width/(105/20.16))))
            .attr("width", (self.width/(105/16.5)))
            .attr("height", (self.width/(105/40.32)))

        element
          .append("rect")
            .attr("x", self.width/2)
            .attr("y", (self.height/2 - (self.width/ (105/9.16))))
            .attr("width", (self.width/ (105/5.5)))
            .attr("height", (self.width/ (105/18.32)))

        element
          .append("rect")
            .attr("x", self.width/2 - (self.width/(105/5.5)))
            .attr("y", (self.height/2 - (self.width/ (105/9.16))))
            .attr("width", (self.width/ (105/5.5)))
            .attr("height", (self.width/ (105/18.32)))

        element
          .append("rect")
            .attr("x", self.width/2 - 2)
            .attr("y", (self.height/2 - (self.width/ (105/3.66))))
            .attr("width", 4)
            .attr("height", (self.width/ (105/7.32)))
            .attr("fill", "#999999")
            .attr("stroke", "none")

        element
          .append("line")
            .attr("x1", self.width/2)
            .attr("y1", 0)
            .attr("x2", self.width/2)
            .attr("y2", self.height)



			self.legend = self.g.append("g")
				.attr("class","field")


      self.team_ids.forEach( function(d, i) {
          if ((self.team_id === 0)  || (self.team_ids)) {
            if (self.team_id === 0)
              self.flip = i;

            self.legend
              .append("rect")
              .attr("x", i > 0 ? self.width - 10 : 5 )
              .attr("y", 8 )
              .attr("width", 8)
              .attr("height", 8)
              .attr("fill", self.team_colors[i] )

            self.legend
              .append("text")
              .attr("x", i > 0 ? self.width - 20 : 20 )
              .attr("y", 16 )
              .attr("text-anchor", i > 0 ? "end" : "start" )
              .text( i > 0 ? self.gamedata.quick_info.away.abbreviation_name : self.gamedata.quick_info.home.abbreviation_name  )
              .attr("fill", self.team_colors[i] )

            self.legend
              .append("line")
              .attr("x1", i > 0 ? self.width - 50 : 50 )
              .attr("y1", 12 )
              .attr("x2", i > 0 ? self.width - 20 - 50: 20 + 50 )
              .attr("y2", 12)
              .attr("stroke", self.team_colors[i] )
              .attr("marker-end",  "url(#pmarrow_" + self.team_colors[i] + ")")
          }
      })

        self.copy = self.g.append("g")
          .attr("class","copyright")
          .append("text")
          .attr("x", self.width / 2 + 5)
          .attr("y", self.height/2 + (self.width/(105/20.16)) + 15)
          .attr("fill","lightgrey")
          .attr("text-anchor", "start" )
          .attr("style","font-size:0.7em")
          .text("© 2018, fooviz.xyz")

			},

			update_chart() {
				var self = this;

				self.passes = self.g
					.append("g")
					.attr("class", "passes")
					.selectAll("line")
					.data(self._display_data)

				self.passes.exit()
					.attr("class", "exit")
					.transition(self.t())
					.remove();

				self.passes.attr("class", "update")
					.transition(self.t())
						.attr("y", function(d){ return self.y(d.type.name); })
						.attr("height", function(d){ return (self.height - self.y(d[this.variable])); })
						.attr("x", function(d){ return self.x(d.time) })
						.attr("width", self.x.bandwidth)

				self.passes
					.enter()
					.append("line")
					.attr("class", "enter")
					.attr("x1", function(d, i){ return d.team_id == self.team_ids[0] ? self.x(d.start_x) - self.width/2 : self.width - self.x(d.start_x) + self.width/2 })
					.attr("x2", function(d, i){ return d.team_id == self.team_ids[0] ? self.x(d.BlockedX) - self.width/2 || self.width/2 :  self.width/2 })
					.attr("y1", function(d, i){ return d.team_id != self.team_ids[0] ? self.y(d.start_y) : self.height  -  self.y(d.start_y) })
					.attr("y2", function(d, i){ return d.team_id != self.team_ids[0] ? self.y(d.GoalMouthY || d.BlockedY) :  self.height  - self.y(d.GoalMouthY || d.BlockedY) })
					.attr("stroke", function(d, i){ return self.team_colors[self.team_ids.indexOf(d.team_id)];	})
					.attr("style", "opacity:0.7")
					.attr("fill", "red")
					.attr("stroke-width", "1.5")
					.attr("marker-end",  function(d){ return "url(#pmarrow_" + self.team_colors[self.team_ids.indexOf(d.team_id)]; + ")"	})

			}
		}
	}

</script>

<style scoped>
    .shotmap {width:85%; margin:auto}
      @media (max-width: 1024px) { .shotmap {width:100%} }
</style>
