<template>
  <div class="shotmap">

  </div>
</template>

<script>
import * as d3 from 'd3';
import * as d3Hexbin from "d3-hexbin";

import drawfield from '../drawing_helpers'

export default {
  name: 'ShotMap',

  props: {
    gamedata: Object,
    team_id: { default: "0", type: String },
    team: { default: "0", type: String },
    flip: { default: "0", type: String },
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [1,2] }
  },

  data: function() {
    return {
      h:0,
      w:0,
    }
  },

  mounted() {
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.offsetWidth;
    this.h = this.$el.offsetWidth * 68/105;
    window.addEventListener('resize', this.onResize);
    this.wrangle_data();
    this.init_chart();
    this.update_chart();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      this.w = this.$el.clientWidth;
      this.h = this.$el.clientWidth * 68/105;
      this.svg.remove();
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },

    wrangle_data() {
				var self = this;

        var types = ["SavedShot","MissedShots","ShotOnPost","Goal"]

        self._display_data = self.gamedata.actions.filter(
                d => types.indexOf(d.type.name) > -1)

        self._display_data.forEach( function(d) {
            d.qualifiers.forEach( function(x) {
              d[x.type] = x.value;
            });
            d.GoalMouthY = +d.GoalMouthY;
            d.GoalMouthZ = +d.GoalMouthZ;
            d.BlockedX = +d.BlockedX;
            d.BlockedY = +d.BlockedY;

            d.Blocked = isNaN(d.GoalMouthY);
        });


        self.shots = d3.nest()
          .key(function(d) { return d.team_id; })
          .entries(self._display_data);

        console.log(self.shots);
      },

			updateSelection() {
				this.wrangle_data();
				this.update_chart();
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 10, right: 10, bottom: 10, left: 10};
        self.svg = d3.select(this.$el)
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(1000); }

				self.x = d3.scaleLinear().range([0, self.width]);
				self.y = d3.scaleLinear().range([0, self.height]);
				self.c = d3.scaleOrdinal(d3.schemePaired);
				self.team_color = d3.scaleOrdinal(self.team_colors);
				self.binary = d3.scaleOrdinal().range([-1,1]);

				self.x.domain([0, 100]);
				self.y.domain([0, 100]);


				self.team_colors.push("red")
				self.defs.selectAll("marker")
					.data(self.team_colors)
					.enter()
					.append("marker")
					.attr("id", d => "pmarrow_" + d)
					.attr("refX", 4) /*must be smarter way to calculate shift*/
					.attr("refY", 2)
					.attr("markerWidth", 4)
					.attr("markerHeight", 4)
					.attr("orient", "auto")
					.append("path")
					.attr("d", "M 0,0 V 4 L4,2 Z")
					.attr("fill", d => d);

        var element = self.g.append("g")
          .attr("class","field")
          .attr("stroke","lightgrey")
          .attr("fill","none")

        element
          .append("rect")
            .attr("x", self.width/2)
            .attr("y", (self.height/2 - (self.width/ (105/20.16))))
            .attr("width",(self.width/ (105/16.5)))
            .attr("height", (self.width/ (105/40.32)))

        element
          .append("rect")
            .attr("x", self.width/2 - (self.width/(105/16.5)))
            .attr("y", (self.height/2 - (self.width/(105/20.16))))
            .attr("width", (self.width/(105/16.5)))
            .attr("height", (self.width/(105/40.32)))

        element
          .append("rect")
            .attr("x", self.width/2)
            .attr("y", (self.height/2 - (self.width/ (105/9.16))))
            .attr("width", (self.width/ (105/5.5)))
            .attr("height", (self.width/ (105/18.32)))

        element
          .append("rect")
            .attr("x", self.width/2 - (self.width/(105/5.5)))
            .attr("y", (self.height/2 - (self.width/ (105/9.16))))
            .attr("width", (self.width/ (105/5.5)))
            .attr("height", (self.width/ (105/18.32)))

        element
          .append("rect")
            .attr("x", self.width/2 - 2)
            .attr("y", (self.height/2 - (self.width/ (105/3.66))))
            .attr("width", 4)
            .attr("height", (self.width/ (105/7.32)))
            .attr("fill", "#999999")
            .attr("stroke", "none")

        element
          .append("line")
            .attr("x1", self.width/2)
            .attr("y1", 0)
            .attr("x2", self.width/2)
            .attr("y2", self.height)



			self.legend = self.g.append("g")
				.attr("class","field")


      self.team_ids.forEach( function(d, i) {
          if ((self.team_id === 0)  || (self.team_ids)) {
            if (self.team_id === 0)
              self.flip = i;

            self.legend
              .append("rect")
              .attr("x", i > 0 ? self.width - 10 : 5 )
              .attr("y", 8 )
              .attr("width", 8)
              .attr("height", 8)
              .attr("fill", self.team_colors[i] )

            self.legend
              .append("text")
              .attr("x", i > 0 ? self.width - 20 : 20 )
              .attr("y", 16 )
              .attr("text-anchor", i > 0 ? "end" : "start" )
              .text( i > 0 ? self.gamedata.quick_info.away.abrevation : self.gamedata.quick_info.home.abrevation  )
              .attr("fill", self.team_colors[i] )

            self.legend
              .append("line")
              .attr("x1", i > 0 ? self.width - 50 : 50 )
              .attr("y1", 12 )
              .attr("x2", i > 0 ? self.width - 20 - 50: 20 + 50 )
              .attr("y2", 12)
              .attr("stroke", self.team_colors[i] )
              .attr("marker-end",  "url(#pmarrow_" + self.team_colors[i] + ")")
          }
      })

        self.copy = self.g.append("g")
          .attr("class","copyright")
          .append("text")
          .attr("x", self.width / 2 + 5)
          .attr("y", self.height/2 + (self.width/(105/20.16)) + 15)
          .attr("fill","lightgrey")
          .attr("text-anchor", "start" )
          .attr("style","font-size:0.7em")
          .text("© 2018, fooviz.xyz")

			},

			update_chart() {
				var self = this;

        var hexbin = d3Hexbin.hexbin()
        .extent([[0, 0], [self.width, self.height]])
        .radius(20)
        .x(function(d) { return d.start_x })
        .y(function(d) { return d.start_y });

        var radius = d3.scaleSqrt()
          .domain([0, 12])
          .range([0, 10]);


        console.log(hexbin(self.shots[0].values));

        self.shots[0].values.forEach( function(d) {
          d.start_x = self.x(d.start_x) - self.width/2
          d.start_y = self.y(d.start_y)
        })

				self.g.append("g")
        .attr("class", "hexagon")
        .selectAll("path")
        .data(hexbin(self.shots[0].values))
        .enter().append("path")
        .attr("d", function(d) { return hexbin.hexagon(radius(d.length)); })
        .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
        .attr("fill", function(d) { return self.team_colors[0] });

			}
		}
	}

</script>

<style scoped>
    .shotmap {width:85%; margin:auto}
      @media (max-width: 1024px) { .shotmap {width:100%} }
</style>
