<template>
  <div class="">
  </div>
</template>

<script>
import * as d3 from 'd3';
import drawfield from '../drawing_helpers'

export default {
  name: 'TempSeries',

  props: {
    country: { default: "0", type: String },
    gamedata: Object,
    flip: { default: false, type: Boolean },
    color: { default: "black", type: String },
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [1,2] },
    team_id: { default: 0, type: Number },
  },

  data: function() {
    return {
      h:0,
      w:0,
      flipMe: false,
    }
  },

  mounted() {
    var self = this;
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.clientWidth;
    if (document.documentElement.clientWidth > 768) {
      this.h = this.$el.clientWidth * 80/105;
      self.flipMe = self.flip;
    }  else {
      self.flipMe = false;
      this.h = this.$el.clientWidth * 55/105;
    }
    window.addEventListener('resize', this.onResize);
    this.load_data();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      var self = this;
      this.w = this.$el.clientWidth;
      if (document.documentElement.clientWidth > 768) {
        this.h = this.$el.clientWidth * 80/105;
        self.flipMe = self.flip;
      }  else {
        self.flipMe = false;
        this.h = this.$el.clientWidth * 55/105;
      }
      this.svg.remove();
      //this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },


		updateSelection() {
			this.wrangle_data();
			this.update_chart();
		},

    load_data() {
      var self = this;
        d3.csv("data/ghcn/"+self.country+".csv").then( function(d) {
          //console.log(d);

          d = d.filter(d=> d.year > 1850)

          d.forEach(function(d){
            d.value = +d.temp;
            d.year = +d.year;
          })

          self.avg_tmp = d.reduce(
              function( accumulator, current){ return accumulator + +current.temp }
            , 0) / d.length

          self._display_data = d;
          self.init_chart();
          self.update_chart();

        }).catch(function(e) {
          console.log(e);
        })

    },


    wrangle_data() {
				var self = this;
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 20, right: 45, bottom: 60, left:10};
        self.svg = d3.select(this.$el)
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(200); }

        if (self.flipMe) {
          self.x = d3.scaleLinear().range([self.width, 0]);
        } else {
				      self.x = d3.scaleLinear().range([0, self.width]);
        }
        self.y = d3.scaleLinear().range([self.height, 0]);

				self.x.domain([0, 100]);
				self.y.domain([0, 100]);

				self.legend = self.g.append("g")
					.attr("class","legend")

        self.team_ids.forEach( function(d,i) {
            if ((self.team_id === 0)  || (self.team_id && self.team_id == d)) {
              self.legend
                .append("rect")
                .attr("x", function(d){ return self.flipMe ? self.width - 10 : 5 })
                .attr("y", -16) //function(d){ return self.flip !="0" ? self.height + 8 : - 16})
                .attr("width", 8)
                .attr("height", 8)
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("text")
                .attr("x", self.flipMe ? self.width - 20 : 20 )
                .attr("y", -8 )
                .attr("text-anchor", self.flipMe ? "end" : "start" )
                .text( i > 0 ? self.gamedata.quick_info.away.abbreviation_name : self.gamedata.quick_info.home.abbreviation_name  )
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("line")
                .attr("x1", self.flipMe ? self.width - 50 : 50 )
                .attr("y1", -12 )
                .attr("x2", self.flipMe ? self.width - 20 - 50: 20 + 50 )
                .attr("y2", -12)
                .attr("stroke", self.team_colors[i] )
                .attr("marker-end",  "url(#pmarrow_" + self.team_colors[i] + ")")
            }
        })

        /*
        self.focus = self.g.append("g")
         .attr("class", "focus")
         .style("display", "none");

        self.focus.append("circle")
           .attr("r", 5)
           .attr("stroke-width","2")
           .attr("fill","black")
           .attr("stroke","black")

        self.tooltip = d3.select("body")
          .append("div")
          .attr("class","tooltip")
          */
			},

			update_chart() {
				var self = this;

        self.x.domain(d3.extent(self._display_data, function(d) { return d.year; }));
        self.y.domain( [0,45]);

        var line = d3.line()
          .defined(function (d) { return !isNaN(d.value) })
          .x(function(d) { return self.x(d.year); })
          .y(function(d) { return self.y(d.temp); })


        self.g.append("g")
              .attr("transform", "translate(0," + self.height + ")")
              .call(d3.axisBottom(self.x).ticks(5).tickFormat(function(d) {
                return d3.format("d")(d)}))
            .select(".domain")
              .remove();

        self.axisBottom = self.g.append("g")
          .attr("class","axis axisRight")
          .attr("transform", "translate("+ (self.width + 5 )+ ",0)")
            .call(d3.axisRight(self.y).ticks(5).tickFormat(function(d) {
              return d3.format("d")(d) + "° C"; }))


        if (self.flipMe) {
          self.axisBottom.attr("class","axis axisLeft")

          if (self.flipMe) {
              self.axisBottom
                .attr("transform", "translate(-5,0)")
                .call(d3.axisLeft(self.y).ticks(5))
                .selectAll(".tick text")
                  .remove();
          }
        }

        self.axisBottom
            .select(".domain")
              .remove();

        self.g.append("text")
            .attr("fill", "#999")
            .attr("x", self.width/2)
            .attr("y", 20)
            .attr("text-anchor","middle")
            .text("JUNE AVG: " + d3.format(".1f")(self.avg_tmp) + "° C")

        self.g.append("text")
            .attr("fill", "#999")
            .attr("x", self.width/2)
            .attr("y", 0)
            .attr("text-anchor","middle")
            .text("STATION: "+ (self._display_data[0].name))

        self.g.append("path")
            .attr("fill", "none")
            .attr("d",line(self._display_data))
            .attr("stroke", "#999999")
            .attr("stroke-linejoin", "round")
            .attr("stroke-linecap", "round")
            .attr("stroke-width", 1.5)

        self.g.append("rect")
          .attr("class", "overlay")
          .attr("x", 0)
          .attr("y", 0)
          .attr("width", self.width)
          .attr("height", self.height)
/*
          .on("mouseover", function() {
              self.focus.style("display", null);
              self.tooltip.style("visibility", "visible");
          })
          .on("mouseout", function() {
            self.focus.style("display", "none");
            self.tooltip.style("visibility", "hidden");
          })
          .on("mousemove", mousemove)

        var bisectDate = d3.bisector(function(d) { return d.year; }).left;

        function mousemove() {
          var x0 = self.x.invert(d3.mouse(this)[0]);
          var i = bisectDate(self._display_data, x0, 1);
          var d0 = self._display_data[i - 1];
          var d1 = self._display_data[i];
          var d = x0 - d0.year > d1.year - x0 ? d1 : d0;
          self.focus.attr("transform", "translate(" + self.x(d.year) + "," + self.y(d.temp) + ")");
          var tip_x = self.x(d.year) + self.$el.getBoundingClientRect().x + 20;
          var tip_y = self.y(d.temp) + self.$el.getBoundingClientRect().top + -document.body.getBoundingClientRect().top - 10;
          self.tooltip.html("<strong>" + d.year + "</strong> | " + d.temp + "° C")
          self.tooltip.style("top",tip_y +"px").style("left", tip_x +"px");
        }
*/
        var current=self._display_data[self._display_data.length-1].value;

        if ( typeof current == "undefined" ) {
          text =  "NO DATA"
          self.g.append("text")
            .attr("class","xEarth")
            .attr("x", self.width/2)
            .attr("y", 60)
            .attr("style","font-size:24px")
            .attr("text-anchor","middle")
            .text(text)
        }
			}
		}
	}

</script>

<style scoped>
    div {width:100%;}
</style>
