<template>
  <div class="passmap">
    <div class="select is-light">
      <select id="team_options" @change="updateSelection" v-model="outcome_selection">
      <option v-for="(value, index) in outcome_options" :value="value" v-text="value"></option>
      </select>
    </div>

    <div class="select is-light">
      <select id="period_options" @change="updateSelection" v-model="player_selection">
      <option v-for="(value, label) in player_options" :value="value.id" v-text="value.name"></option>
      </select>
    </div>

    <div class="chart"> </div>

    <div class="source">
      <br>
      TOTAL TOUCHES<br>
      <span v-if="outcome_selection == 'All Touches'"> {{ sum_up_successful}}  / </span>
      {{ sum_up_pass}} <br>
      <span v-if="outcome_selection == 'All Touches'"> {{ sum_up_percentage }} % SUCCESSFUL </span>
    </div>

  </div>

</template>

<script>
import * as d3 from 'd3';
import drawfield from '../drawing_helpers'

export default {
  name: 'TouchMap',

  props: {
    gamedata: Object,
    team_id: { default: 0, type: Number },
    team: { default: "0", type: String },
    flip: { default: "0", type: String },
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [1,2] }
  },

  data: function() {
    return {
      h:0,
      w:0,
      outcome_selection: "All Touches",
      outcome_options: ["All Touches","Successful","Unsuccessful"],
      player_selection: "0",
      player_options:  [],
      sum_up_pass: 0,
      sum_up_successful: 0,
      sum_up_percentage: 0,
    }
  },

  mounted() {
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.offsetWidth;
    this.h = this.$el.offsetWidth * 68/105;
    window.addEventListener('resize', this.onResize);
    this.wrangle_data();
    this.init_chart();
    this.update_chart();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      this.w = this.$el.offsetWidth;
      this.h = this.$el.offsetWidth * 68/105;
      this.svg.remove();
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },

    wrangle_data() {
				var self = this;

        self._display_data = self.gamedata.actions.filter(
                d => d.is_touch)

        if (self.outcome_selection != "All Touches") {
          self._display_data = self._display_data.filter(
                  d => d.outcome_type.name === self.outcome_selection)
        }

        if (self.team_id != 0) {
          self._display_data = self._display_data.filter(
              d => d.team_id == self.team_id )
        }

        self.players = d3.nest()
          .key(function(d){
              return d.player_id;
          })
          .entries( self._display_data).map(function(player){
            return {
              id: player.key,
              name: self.gamedata.players[player.key],
            }
          })

        if (self.team_id == self. team_ids[0])
          self.team_name = self.gamedata.details.home.name
        else
         self.team_name = self.gamedata.details.away.name

        self.player_options = [ { id:0, name: self.team_name}],

        self.players.forEach( function(d) {
          if (d.name) self.player_options.push(d);
        })

        if (self.player_selection != 0 ) {
          self._display_data = self._display_data.filter(
                  d => d.player_id == self.player_selection)
        }

        self.sum_up_pass = self._display_data.length
        self.sum_up_successful = self._display_data.filter(d=> d.outcome_type.value == 1).length
        self.sum_up_percentage = d3.format("0.0f")(self.sum_up_successful / self.sum_up_pass * 100)
			},

			updateSelection() {
				this.wrangle_data();
				this.update_chart();
			},

			init_chart: function() {
				var self = this;

        self.margin = {top: 20, right: 20, bottom: 20, left: 20};
        self.svg = d3.select(this.$el).select(".chart")
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(200); }

				self.x = d3.scaleLinear().range([0, self.width]);
				self.y = d3.scaleLinear().range([0, self.height]);
				self.c = d3.scaleOrdinal(d3.schemePaired);
				self.team_color = d3.scaleOrdinal(self.team_colors);
				self.binary = d3.scaleOrdinal().range([-1,1]);

				self.x.domain([0, 100]);
				self.y.domain([0, 100]);

				self.legend = self.g.append("g")
					.attr("class","field")

			  drawfield(self.legend, self.width, self.height)

        self.team_ids.forEach( function(d,i) {
            if ((self.team_id === 0)  || (self.team_id && self.team_id == d)) {
              self.legend
                .append("rect")
                .attr("x", function(d){ return self.flip !="0" ? self.width - 10 : 5 })
                .attr("y", -16 )
                .attr("width", 8)
                .attr("height", 8)
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("text")
                .attr("x", function(d){ return self.flip !=0 ? self.width - 20 : 20; })
                .attr("y", -8 )
                .attr("text-anchor", function(d){ return self.flip !=0 ? "end" : "start" })
                .text(function(d){ return self.flip !=0 ? self.gamedata.quick_info.away.abbreviation_name : self.gamedata.quick_info.home.abbreviation_name } )
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("line")
                .attr("x1", function(d){ return self.flip !=0 ? self.width - 50 : 50; })
                .attr("y1", -12 )
                .attr("x2", function(d){  return self.flip !=0 ? self.width - 20 - 50: 20 + 50 })
                .attr("y2", -12)
                .attr("stroke", self.team_colors[i] )
                .attr("marker-end",  function(d){
                  return "url(#pmarrow_" + self.team_colors[i]; + ")"
                })
            }
        })

				self.team_colors.push("red")
				self.defs.selectAll("marker")
					.data(self.team_colors)
					.enter()
					.append("marker")
					.attr("id", d => "pmarrow_" + d)
					.attr("refX", 4) /*must be smarter way to calculate shift*/
					.attr("refY", 2)
					.attr("markerWidth", 4)
					.attr("markerHeight", 4)
					.attr("orient", "auto")
					.append("path")
					.attr("d", "M 0,0 V 4 L4,2 Z")
					.attr("fill", d => d)

          self.copy = self.g.append("g")
            .attr("class","copyright")
            .append("text")
            .attr("x", (self.flip === "0") ? self.width - 10 : 10)
            .attr("y", self.height + 10)
            .attr("fill","lightgrey")
            .attr("text-anchor", (self.flip === "0") ? "end" : "start")
            .attr("style","font-size:0.7em")
            .text("© 2018, fooviz.xyz")

          self.chart = self.g.append("g").attr("class","touches");
			},

			update_chart() {
				var self = this;

				self.touches = self.chart
					.selectAll("circle")
					.data(self._display_data)

				self.touches.exit()
					.attr("class", "exit")
					.transition(self.t())
					.remove();

				self.touches.attr("class", "update")
					.transition(self.t())
          .attr("class", "enter")
					.attr("cx", function(d){ return self.flip !="0" ? self.width - self.x(d.start_x) : self.x(d.start_x); })
					.attr("cy", function(d){ return self.flip =="0" ? self.height - self.y(d.start_y) : self.y(d.start_y) })
					.attr("r", 4)
          .attr("style", function(d){ return d.outcome_type.value == 0 ? "opacity:0.3" : "opacity:0.7" })
					.attr("fill", function(d){

							return self.team_colors[self.team_ids.indexOf(d.team_id)];
					})

				self.touches
					.enter()
					.append("circle")
					.attr("class", "enter")
          .attr("style", function(d){ return d.outcome_type.value == 0 ? "opacity:0.3" : "opacity:0.7" })
          .attr("cx", function(d){ return self.flip !="0" ? self.width - self.x(d.start_x) : self.x(d.start_x); })
					.attr("cy", function(d){ return self.flip =="0" ? self.height - self.y(d.start_y) : self.y(d.start_y) })
					.attr("r", 4)
					.attr("fill", function(d){
							return self.team_colors[self.team_ids.indexOf(d.team_id)];
					})
			}
		}
	}


</script>

<style scoped>
  .select { font-size: 0.9em }
  .passmap {width:100%;}
  .touches {opacity: 0.6}
</style>
