<template>
  <div class="passmap">
    <div class="select is-light">
      <select id="period_options" @change="updateSelection" v-model="period">
      <option v-for="(value, label) in period_options" :value="value.value" v-text="value.label"></option>
      </select>
    </div>
    <div class="select is-light">
      <select id="outcome_options" @change="updateSelection" v-model="outcome_selection">
      <option v-for="(value) in outcome_options" :value="value" v-text="value"></option>
      </select>
    </div>
    <div class="chart"> </div>

  </div>

</template>

<script>
import * as d3 from 'd3';
import * as d3Hexbin from "d3-hexbin";

import drawfield from '../drawing_helpers'

export default {
  name: 'TouchBinMap',

  props: {
    gamedata: Object,
    team_id: { default: 0, type: Number },
    team: { default: "0", type: String },
    flip: { default: "0", type: String },
    team_colors: { type: Array, default: ["blue","orange"] },
    team_ids: { type: Array, default: [1,2] }
  },

  data: function() {
    return {
      h:0,
      w:0,
      outcome_selection: "Touches",
      outcome_options: ["Touches","Passes"],
      player_selection: "0",
      player_options:  [],
      sum_up_pass: 0,
      sum_up_successful: 0,
      sum_up_percentage: 0,
      flipMe:0,
      period: "FullTime",
      period_options: [
        { value: "FullTime", label: "Full Time" },
        { value: "FirstHalf", label: "First Half" },
        { value: "SecondHalf", label: "Second Half" },
        { value: "Dynamic", label: "Dynamic" },
      ],
      time_range: 30,
      timer: -15,
      running: false,
    }
  },

  mounted() {
    console.log(this.$options._componentTag + " mounted");
    this.w = this.$el.offsetWidth;
    this.h = this.$el.offsetWidth * 68/105;
    window.addEventListener('resize', this.onResize);
    this.init_data();
    this.wrangle_data();
    this.init_chart();
    this.update_chart();
  },
  beforeDestroy() {
    //window.removeEventListener('resize', this.onResize);
  },

  created() {
    console.log(this.$options._componentTag + " created");
  },

  methods: {

    onResize() {
      this.w = this.$el.offsetWidth;
      this.h = this.$el.offsetWidth * 68/105;
      this.svg.remove();
      this.wrangle_data();
      this.init_chart();
      this.update_chart();
    },


		updateSelection() {
      var self = this;

			this.wrangle_data();
			this.update_chart();

      if (self.period === "Dynamic") {
        self.running = true
        setTimeout( function(){ self.playStep() }, 500)
      } else {
        self.running = false;
      }
    },

    playStep() {
      var self = this;
      self.timer += 0.5;
      if ( self.timer + self.time_range > self.gamedata.details.expanded_max_minute) {
        self.timer = 0;
      }

      self.wrangle_data();
      self.update_chart();
      if (self.running)
        setTimeout( function(){ self.playStep() }, 200)
    },

    init_data() {
      var self = this;

      self._display_data = self.gamedata.actions;

      if (self._display_data.filter(d => d.period.name == "FirstPeriodOfExtraTime").length > 0) {
          self.period_options.pop()
          self.period_options.push( { value: "ExtraTime", label: "Extra Time" } )
          self.period_options.push( { value: "Dynamic", label: "Dynamic" } )
      }
    },

    wrangle_data() {
			var self = this;
      self._display_data = self.gamedata.actions;

      if (self.outcome_selection == "Touches") {
        self._display_data = self._display_data.filter(d => d.is_touch)
      }
      if (self.outcome_selection == "Passes") {
        self._display_data = self._display_data.filter(d => d.type.name == "Pass")
      }

      var max_time = d3.max(self._display_data, function(d){ return d.time});

      if (self.period == "FirstHalf" || self.period == "SecondHalf") {
        self._display_data = self._display_data.filter(d => d.period.name == self.period);
      } else if (self.period === "Dynamic") {
        self._display_data = self._display_data.filter(d => d.time > self.timer && d.time <= self.timer + self.time_range);
      } else if (self.period === "ExtraTime") {
        self._display_data = self._display_data.filter(d => d.period.name == "SecondPeriodOfExtraTime" || d.period.name == "FirstPeriodOfExtraTime");
      }

      self._display_data = self._display_data.filter(
          d => d.outcome_type.value === 1)

        if (self.team_id != 0) {
          self._display_data = self._display_data.filter(
              d => d.team_id == self.team_id )
        }

        self.players = d3.nest()
          .key(function(d){
              return d.player_id;
          })
          .entries( self._display_data).map(function(player){
            return {
              id: player.key,
              name: self.gamedata.players[player.key],
            }
          })

        if (self.team_id == self. team_ids[0])
          self.team_name = self.gamedata.details.home.name
        else
         self.team_name = self.gamedata.details.away.name

        self.player_options = [ { id:0, name: self.team_name}],

        self.players.forEach( function(d) {
          if (d.name) self.player_options.push(d);
        })

        if (self.player_selection != 0 ) {
          self._display_data = self._display_data.filter(
                  d => d.player_id == self.player_selection)
        }

        self.sum_up_pass = self._display_data.length
        self.sum_up_successful = self._display_data.filter(d=> d.outcome_type.value == 1).length
        self.sum_up_percentage = d3.format("0.0f")(self.sum_up_successful / self.sum_up_pass * 100)
			},


			init_chart: function() {
				var self = this;

        self.margin = {top: 30, right: 10, bottom: 20, left: 10};
        self.svg = d3.select(this.$el).select(".chart")
          .append('svg')
          .attr('width', self.w)
          .attr('height', self.h)

        self.width = self.w - self.margin.left - self.margin.right;
        self.height = self.h - self.margin.top - self.margin.bottom;

				self.defs = self.svg.append("defs");
				self.width = +self.svg.attr("width") - self.margin.left - self.margin.right;
				self.height = +self.svg.attr("height") - self.margin.top - self.margin.bottom;
				self.g = self.svg.append("g").attr("transform", "translate(" + self.margin.left + "," + self.margin.top + ")");

				self.t = () => { return d3.transition().duration(200); }


				self.c = d3.scaleOrdinal(d3.schemePaired);
				self.team_color = d3.scaleOrdinal(self.team_colors);
				self.binary = d3.scaleOrdinal().range([-1,1]);


				self.legend = self.g.append("g")
					.attr("class","field")

			  drawfield(self.legend, self.width, self.height)

        self.clock = self.legend
          .append("text")
          .attr("class","clock")
          .attr("text-anchor","middle")
          .attr("fill","lightgrey")
          .attr("x", self.width/2)
          .attr("y", -10)
          .text("")

        self.team_ids.forEach( function(d,i) {
          if ((self.team_id === 0)  || (self.team_ids)) {
            if (self.team_id == 0)
              self.flipMe = i;

              self.legend
                .append("rect")
                .attr("x", function(d){ return self.flipMe !=0 ? self.width - 10 : 5 })
                .attr("y", -26 )
                .attr("width", 8)
                .attr("height", 8)
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("text")
                .attr("x", function(d){ return self.flipMe !=0 ? self.width - 20 : 20; })
                .attr("y", -18 )
                .attr("text-anchor", function(d){ return self.flipMe !=0 ? "end" : "start" })
                .text(function(d){ return self.flipMe !=0 ? self.gamedata.quick_info.away.abbreviation_name : self.gamedata.quick_info.home.abbreviation_name } )
                .attr("fill", self.team_colors[i] )

              self.legend
                .append("line")
                .attr("x1", function(d){ return self.flipMe !=0 ? self.width - 50 : 50; })
                .attr("y1", -22 )
                .attr("x2", function(d){  return self.flipMe !=0 ? self.width - 20 - 50: 20 + 50 })
                .attr("y2", -22)
                .attr("stroke", self.team_colors[i] )
                .attr("marker-end",  function(d){
                  return "url(#pmarrow_" + self.team_colors[i]; + ")"
                })
            }
        })

				self.defs.selectAll("marker")
					.data(self.team_colors)
					.enter()
					.append("marker")
					.attr("id", d => "pmarrow_" + d)
					.attr("refX", 4) /*must be smarter way to calculate shift*/
					.attr("refY", 2)
					.attr("markerWidth", 4)
					.attr("markerHeight", 4)
					.attr("orient", "auto")
					.append("path")
					.attr("d", "M 0,0 V 4 L4,2 Z")
					.attr("fill", d => d)

          self.copy = self.g.append("g")
            .attr("class","copyright")
            .append("text")
            .attr("x", (self.flip === "0") ? self.width - 10 : 10)
            .attr("y", self.height + 10)
            .attr("fill","lightgrey")
            .attr("text-anchor", (self.flip === "0") ? "end" : "start")
            .attr("style","font-size:0.7em")
            .text("© 2018, fooviz.xyz")

          self.chart = self.g.append("g").attr("class","touches");
          if (self.tooltip) {
            self.tooltip.remove();
          }
          self.tooltip = d3.select("body")
            .append("div")
            .attr("class","tooltip")

			},

			update_chart() {
				var self = this;

        if (self.hexbins)
          self.hexbins.remove()

        var r = self.height/15;

        self.x = d3.scaleLinear().range([r/2, self.width - r/2]);
        self.y = d3.scaleLinear().range([r/2, self.height - r/2]);
        self.x.domain([0, 100]);
        self.y.domain([0, 100]);

        var hexbin = d3Hexbin.hexbin()
        .extent([[0, r], [self.width , self.height - r]])
        .radius(r)
        .x(function(d) { return d.team_id === self.team_ids[0] ? self.x(d.start_x) : self.width - self.x(d.start_x) })
        .y(function(d) { return d.team_id != self.team_ids[0] ? self.y(d.start_y) : self.height - self.y(d.start_y) });


        var dat= hexbin(self._display_data);
        dat.forEach(function (d) {
          d.countA = d.filter( d => d.team_id == self.team_ids[0]).length
          d.countB = d.filter( d => d.team_id == self.team_ids[1]).length
          d.diff = d.countA - d.countB
        } )

        var color = d3.scaleLinear()
          .domain(d3.extent(dat, function(d) { return d.diff }))
          .interpolate(d3.interpolateHcl)
          .range([d3.rgb(self.team_colors[1]), d3.rgb(self.team_colors[0]) ]);

        var color2 = d3.scaleLinear()
          .domain(d3.extent(dat, function(d) { return Math.abs(d.diff) }))
          .interpolate(d3.interpolateHcl)
          .range([d3.rgb(self.team_colors[1]), d3.rgb("white") ]);

        var color1 = d3.scaleLinear()
          .domain(d3.extent(dat, function(d) { return -Math.abs(d.diff) }))
          .interpolate(d3.interpolateHcl)
          .range([d3.rgb("white"), d3.rgb(self.team_colors[0]) ]);

        var radius = d3.scaleSqrt()
          .domain([0,d3.max(dat, function(d) { return d.length })])
          .range([0, r]);

        var opacity = d3.scaleSqrt()
            .domain(d3.extent(dat, function(d) { return Math.abs(d.diff) }))
            .range([0.2  , 1]);

        self.hexbins = self.g.append("g")
          .attr("class", "hexagon")
          .selectAll("path")
          .data(dat)
          .enter().append("path")
          .attr("d", function(d) { return hexbin.hexagon(radius(d.length)); })
          .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; })
          //.attr("fill", function(d) { return d.diff > 0 ? color1(d.diff) : color2(d.diff)})
          .attr("fill", function(d) { return d.diff > 0 ? self.team_colors[0] : (d.diff == 0 ? "lightgrey" : self.team_colors[1]) })

          .attr("opacity", function(d) { return opacity(Math.abs(d.diff)) })
          .on("mouseover", function(d){return self.tooltip.style("visibility", "visible").html(
              "<strong>" + d.countA + " : " + d.countB + "</strong> - ball touches") })
          .on("mousemove", function(){ return self.tooltip.style("top", (d3.event.pageY-10)+"px").style("left",(d3.event.pageX+10)+"px");})
          .on("mouseout", function(){return self.tooltip.style("visibility", "hidden");})

        if (self.period == "Dynamic") {
          self.clock.text(d3.format("02.0f")(Math.max(0,self.timer)) + "' - " + d3.format("02.0f")(self.timer + self.time_range) + "'")
        }
			}
		}
	}


</script>

<style scoped>
  .select { font-size: 0.9em }
  .passmap {width:85%;margin:auto}
  @media (max-width: 1024px) { .passgraph {width:100%} }
</style>
