@font-face {
		font-family: 'Relevant';
		src: url('./fonts/Relevant/Relevant-medium-webfont.eot');
		src: local('☺'), url('./fonts/Relevant/Relevant-medium-webfont.woff') format('woff'),
		url('./fonts/Relevant/Relevant-medium-webfont.woff') format('woff2');
		font-weight: normal;
		font-style: normal;
	}
