<template>
  <div id="app" class="">
    <div class="page-container md-layout-column">
        <md-toolbar class="" md-elevation="0">
          <md-button class="md-icon-button" @click="showNavigation = true">
            <md-icon>menu</md-icon>
          </md-button>
        </md-toolbar>

        <md-drawer :md-active.sync="showNavigation">
          <md-toolbar class="md-transparent" md-elevation="0">
            <span class="md-title">worldcup.fooviz.xyz</span>
          </md-toolbar>


          <md-list>

            <md-list-item  @click="showNavigation = false" :to="{ name: 'home', params: {} }">
              All Matches
            </md-list-item>

            <md-list-item  @click="showNavigation = false" :to="{ name: 'tournamentstats', params: {} }">
              All Shots, All Goals
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#intro">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Intro and histograms</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#historical">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Historical Results</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#marketvalues">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Market Values</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#passnetwork">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Pass Network Graph</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#passmaps">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Pass Maps</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#touchmaps">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Touch Maps</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#field_dominance">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Field Dominance</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#shotmap">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Shot Map</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#goals">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text"> Genesis of Goals</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#replay">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Replay</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#TemperatureSeries">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Temperature in June</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#TemperatureAnomalies">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Temperature Anomalies</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#footprint">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Ecological Footprint</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#GHGEmissions">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Greenhouse Gas Emissions</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'gameview'" @click="showNavigation = false" to="#MeatConsumption">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Meat Consumption</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'tournamentstats'" @click="showNavigation = false" to="#intro">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">All Shots, All Goals</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'tournamentstats'" @click="showNavigation = false" to="#allshotstarget">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">All Unblocked Shots</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'tournamentstats'" @click="showNavigation = false" to="#allshotsontarget">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">All Shots on target</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'tournamentstats'" @click="showNavigation = false" to="#allpenalties">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">All Penalties</span>
            </md-list-item>

            <md-list-item v-if="$route.name == 'tournamentstats'" @click="showNavigation = false" to="#taxfraudsters">
              <md-icon>trending_flat</md-icon>
              <span class="md-list-item-text">Famous Tax Fraudsters</span>
            </md-list-item>

            <md-list-item  @click="showNavigation = false" :to="{ name: 'about', params: {} }">
               About
            </md-list-item>

            <md-list-item  v-if="$route.name != 'gameview'" @click="showNavigation = false" :to="{ name: 'donate', params: {} }">
               Donate
            </md-list-item>

            <md-list-item v-if="$route.name != 'gameview'"  @click="showNavigation = false" :to="{ name: 'contact', params: {} }">
               Contact
            </md-list-item>

          </md-list>
        </md-drawer>

        <md-content>
          <transition name="fade">
            <router-view></router-view>
          </transition>
        </md-content>
      </div>

      <back-to-top />

    </div>

</template>

<script>
import BackToTop from './components/BackToTop.vue'

export default {
    name: 'Main',
    components: { BackToTop },
    data: () => ({
      showNavigation: false,
      showSidepanel: false
    }),
  }
</script>

<style lang="scss">
@import "bulma";
@import '~bulma-pageloader';
@import '../node_modules/bulma-slider/dist/bulma-slider.min.css';


/* @import '../node_modules/font-awesome/css/font-awesome.css'; */
@import '../node_modules/material-icons/css/material-icons.min.css';
@import '../node_modules/material-icons/iconfont/material-icons.css';
@import "./assets/fonts.css";

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(black, A200), // The primary color of your application
  accent: md-get-palette-color(grey, A200) // The accent or secondary color
));

@import "~vue-material/dist/theme/all"; // Apply the theme

/*i
@import "../node_modules/bulma/bulma.sass";
@import '../node_modules/bulma/sass/utilities/initial-variables.sass';
*/
html, body{height:100%;}
#app {
 font-family: "Relevant";
  padding-bottom: 60px;
  text-align: center;
  background:white;
  height:100%;
}

.spacer{height:50px}


p {color: #666}

.md-content {
  padding-top:60px;
  height:100%;
}

.md-drawer {
  opacity: 0.9;
    height:100%;
}
.md-drawer a {
  padding-left: 10px;
  color:black
}

.md-toolbar {
  background:none !important;
  box-shadow: 0 !important;
  border:0 !important;
}

.md-divider {
  //width: 200px;
  margin-left: 20px !important;
  margin-right: 40px !important;
}
.md-list-item  .md-icon { margin: 10px!important; padding:0 }

.is-horizontal-center {
  justify-content: center;
}

.footer {padding:8px !important; font-size: 0.8em;bottom:0px}
.footer a {color:#666;margin: 0 10px; text-transform: uppercase;}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}
</style>
